@import "styles";

.lable-name{
    font-size: 1.2rem;
    color:#111111;
    margin-top: 1rem;
}

.l-edit{
    margin-right: 20px;
    cursor: pointer;
}

.foot-rek{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 1rem;
    margin-top: 5rem;
}

.a-rek-c{
    text-align: left;
}

.a-rek-s{
    text-align: right;
    margin-left: 5rem;
}

.b-btn{
    text-align: right;
    margin-right: 2rem;
}

.list-rek{
    border: 1px solid #dddddd;
    padding: 1rem;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-gap: 1rem;
    font-size: 1.2rem;
}

.btn-rek-cancel{
    text-align: center;
    padding: 1rem;
    color:#111111;
    background: #d6d6d6;
    width: 20rem;
    cursor: pointer;
    border:0px;
    font-size: 1rem;
}

.btn-rek-cancel:hover{
    background: #eae9e9;
}

.btn-rek-save{
    text-align: center;
    padding: 1rem;
    color:#ffffff;
    background: #47ba0a;
    width: 20rem;
    cursor: pointer;
    border: 0px;
    font-size: 2rem;
}

.btn-rek-save:hover{
    background: #59d914;    
}

.btn-add{
    color:#ffffff;
    background: #f57b2a;
    padding: 1rem;
    margin:0px auto;
    width: 20rem;
    text-align: center;
    cursor: pointer;
}

.btn-add:hover{
    background: #f3873e
}

.title-rek{
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
}

.text-info-rek{
    font-size: 1.2rem;
    text-align: center;
}

.field-r{
    width: 100%;
    padding: 8px;
}


.drick-select-container {
    position: relative;

    &--fluid {
        width: 100%;
    }
}

.drick-select__text {
    width: 100%;

    &.active {
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-bottom: 1px solid transparent !important;
    }
}

.drick-select-container--toggle {
    width: 100%;
    max-height: 20rem;
    border: 1px solid rgba(34,36,38,.15);
    border-top: 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    left: 0;
    top: 4.5rem;
    z-index: 2;
    background: #fff;
    display: none;
    transition: all .2s;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;

    &.active {
        display: block;
        border-color: $color--dark-grey;
    }
}

.drick-select-list {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;

    li {
        padding: 0.5rem 1.5rem;
        color: rgba(0,0,0,.87);
        transition: all .2s;
        font-size: 1.4rem;

        &:hover {
            cursor: pointer;
            background-color: rgba(0,0,0,.1);
        }
    }
}

.verticalMiddle {
    vertical-align: middle;
    position: relative;
    height: 100%;
}

.verticalMiddle img {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
}

.center {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    font-size: 18px;
}