.padding--top3 {
    padding-top: 3%;
}

.wrapper--product-detail {
    &__image {
        width: 24%;
        margin: 0 auto;
    }

    &__image:first-child{
        // width: 100%;
        display: block;
        margin: 0 auto;
    }
    
    &__image:last-child {
        // background: red;
    }
    
    &__text {
        color: black;
        font-size: 19px;
        font-weight: 700;
        text-align: center;
        display: block;
        padding: 1rem;

        &--spec-det {
            background: #efefef;
            color: black;
            display: block;
            text-align: left;
            padding-left: 2rem;
            margin-bottom: 1rem;
        }
    }

}

.wrapper--product-detail2 {
    padding-top: 3%;

    &__text2 {
        background: #efefef;
    }
    &__variasi  {
        color:gray;
        font-size: 11px;
        
        &--in-variasi {
            color: black;
            display: block;
            text-align: center;
        }
    }
}

.descbox {
    background: #efefef;
    border-radius: 0.3rem;

    .desc{
        padding: 1rem;
    }
    
}

form {
    padding-top: 2.5rem;
}

.wrapper-btm {
    position: relative;
    &__btn {
        position: absolute;
        // position: relative;
        top: 34px;
        right: 0;
        left: 90%;
        transform: translate(-50%, -50%);

    }
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }


/*  GRID OF FIVE  */
.span_5_of_5 {
	width: 100%;
}
.span_4_of_5 {
	width: 79.68%;
}
.span_3_of_5 {
	width: 59.36%;
}
.span_2_of_5 {
	width: 39.04%;
}
.span_1_of_5 {
	width: 18.72%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
	.col {  margin: 1% 0 1% 0%; }
	.span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

.wrapp {
    display: grid;
    // color: $color-red;
    grid-template-columns: 80% 30%
}
.wrapp__inside {
    display: grid;
    // color: $color-red;
    grid-template-columns: 10% 15% 24% 24% 24%;
    padding-bottom: 10px;
    
    &--image {
        position: relative;
        
        &__image {
        position: absolute;
        }   
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    // border: 1px solid #ddd;
}

th, td {
    text-align: left;
    padding: 8px;
}

.variant-separator {
    padding: .5rem;
    margin-bottom: .5rem;
    border-radius: .3rem;
    display: inline-block;

    &--0 {
        border: 1px solid #1eb31e;
        margin-right: .5rem;
    }

    &--1 {
        border: 1px solid #fd9426;
    }
}

// tr:nth-child(even){background-color: #f2f2f2}

@media screen and (max-width: 992px) {
    .image--width {
        width: 80%;
        background-color: red;
    }
}

/* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    .image--width {
        width: 30%;
    }
}

.error-message {
    padding: 1rem;
    color: #721c24;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
}

.applyToAll {
    background-color: #ff5858;
    color: #fff;
    font-weight: bold;
    transition: 0.1s ease-in-out;
    &:hover {
        background-color: #c23e3e;
    }
    &:active{
        background-color: #b1b1b1;
        color: #000;
        position: relative;
        top: 1px;
    }
}

.courier {
    padding: 20px 15px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    .courierInfo {
        font-size: 15px;
    }
}

.groupCourier {
    display: inline-block;
    height: 50px;
    .iconCourier {
        display: block;
        float: left;
        margin-right: 10px;
        position: relative;
    }
    h4 {
        display: inline;
        position: absolute;
        top: 50%;
        line-height: 22px;
        font-size: 17px;
        color: #000;
        transform: translate(0,-50%);
    }
}

.courierInfo {
    line-height: 2.2rem;
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}

.verticalMiddle {
    position: absolute;
    top: 50%;
    transform: translate(50%,-50%);
}

.selectCourier {
    border-left: 1px solid #fd9426;
    border-right: 1px solid #fd9426;
    border-bottom: 1px solid #fd9426;
    margin: -1px -15px 0;
}

// Tooltip

.tooltip {
    display:inline-block;
    position:relative;
    border-bottom:1px dotted #666;
}

.tooltip h3 {
    margin:0 0 10px;
}

.tooltip .right {
    min-width:200px;
    max-width:400px;
    top:50%;
    left:100%;
    margin-left:116px;
    transform:translate(0, -49%);
    padding:0;
    color:#EEEEEE;
    background-color:#323d42;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.5s;
}

.tooltipApply .right {
    min-width:120px;
    max-width:400px;
    top:50%;
    left:100%;
    margin-left:37px;
    transform:translate(0, -49%);
    padding:0;
    color:#EEEEEE;
    background-color:#323d42;
    font-weight:normal;
    font-size:13px;
    border-radius:8px;
    position:absolute;
    z-index:99999999;
    box-sizing:border-box;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
    visibility:hidden; opacity:0; transition:opacity 0.8s;
}

.switch.small {
    left: 0;
}

.tooltipIcon {
    right: -99px;
    top: -14px;
    position: absolute;
}

.tooltipApplyIcon {
    right: -28px;
    top: -10px;
    position: absolute;
    font-size: 18px;
}

.tooltipApplyIcon:hover + .right {
    visibility:visible;
    opacity:1;
    top: 3px;
}

.tooltipIcon:hover + .right {
    visibility:visible;
    opacity:1;
}

.tooltip .right img {
    width:400px;
    border-radius:8px 8px 0 0;
}
.tooltip .text-content {
    padding:10px 15px;
    text-align: left;
}

.tooltip .right i {
    position:absolute;
    top:50%;
    right:100%;
    margin-top:-12px;
    width:12px;
    height:24px;
    overflow:hidden;
}
.tooltip .right i::after {
    content:'';
    position:absolute;
    width:12px;
    height:12px;
    left:0;
    top:50%;
    transform:translate(50%,-50%) rotate(-45deg);
    background-color:#323d42;
    box-shadow:0 1px 8px rgba(0,0,0,0.5);
}

.toTheRight {
    float: right;
    margin-right: 4vw;
}
