
<div class="row">
    <div class="col-12">
        <div class="row wrapper--product-detail">
            <div class="col-3">
                <div>
                    <div>
                        <img [src]="productImage + displayImage">
                    </div>
                    <div class="row small-gutters">
                        <div class="col-md-5r" *ngFor="let item of product?.imageUrl">
                            <img [src]="productImage + item">
                        </div>
                    </div>
                </div>
                <br>

                <span class="wrapper--product-detail__text">Spesifikasi Produk</span>
                <div class="wrapper--product-detail__spec">
                    <div *ngFor="let itemSpec of product?.specification">
                        <span class="wrapper--product-detail__text--spec-det"> {{ itemSpec?.value }}</span>
                    </div>
                </div>
            </div>
            <div class="col-9 wrapper--product-detail2">
                <h3 class="wrapper--product-detail2__text">Informasi Produk</h3>
                <span class="wrapper--product-detail2__text2">
                    {{product?.brandName}}
                </span>
                <br>
                <span class="wrapper--product-detail2__text2">
                    {{product?.name}}
                    {{ productEdit?.name }}
                </span>
                <br>
                <span class="wrapper--product-detail2__text2">
                    {{product?.categoryOneName}}  <span *ngIf="product?.categoryOneName"></span> {{product?.categoryTwoName}} <span *ngIf="product?.categoryOneName">></span>  {{product?.categoryThreeName}}
                    
                </span>
                <br>

                <div class="descbox" readonly>
                    <div class="desc">
                        {{ product?.description }}
                    </div>
                </div>
                <br>
                <form [formGroup]="addProductForm">
                    <h4>Warranty</h4>

                    <div class="row f-group">
                        <div class="col-3">
                            <select formControlName="guaranteeType" class="form-control">
                                <option value="" disabled>Tipe Garansi</option>
                                <option *ngFor="let i of warr" [value]="i.statusCode">{{ i.status }}</option>
                            </select>
                            <div *ngIf="(submitted || f.guaranteeType.touched) && f.guaranteeType.invalid">
                                    <bss-field-error [displayError]="f.guaranteeType.errors.required" errorMsg="Silahkan pilih jenis garansi"></bss-field-error>
                                </div>
                        </div>
                    </div>
                    <div class="row f-group">
                        <div class="col-3">
                            <select formControlName="guaranteeTime" class="f-control">
                                <option value="" disabled>Lama Garansi</option>
                                <option *ngFor="let i of warrLong" [value]="i.statusCode">{{ i.status }}</option>
                            </select>
                            <div *ngIf="(submitted || f.guaranteeTime.touched) && f.guaranteeTime.invalid">
                                <bss-field-error [displayError]="f.guaranteeTime.errors.required" errorMsg="Silahkan pilih garansi"></bss-field-error>
                            </div>
                        </div>
                    </div>

                    <div class="row small-gutters u-margin-bottom-1">
                        <div class="col-md-4">
                            Pilih Varian sesuai dengan yang anda miliki
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-2">
                            <input [(ngModel)]="daddyPrice" [ngModelOptions]="{standalone: true}" type="text" class="f-control" placeholder="Harga Jual" maxlength="10" (keypress)="numberCheck($event)" />
                        </div>
                        <div class="col-md-2">
                            <input [(ngModel)]="dadySpecialPrice" [ngModelOptions]="{standalone: true}" type="text" class="f-control" placeholder="Harga Promo" maxlength="10" (keypress)="numberCheck($event)" />
                        </div>
                        <div class="col-md-1">
                            <input [(ngModel)]="dadyStock" [ngModelOptions]="{standalone: true}" type="text" class="f-control" placeholder="Stok" (keypress)="numberCheck($event)" />
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn--default applyToAll" (click)="applyForAll()">Terapkan<br>ke Semua</button>
                            <div class="tooltip tooltipApply">
                                <fa-icon class="tooltipApplyIcon" [icon]="['fas','info-circle']"></fa-icon>
                                <div class="right">
                                    <div class="text-content">
                                        <p>Tombol <span style="font-weight: bold; color: #fd9426;">"Terapkan Ke Semua"</span> akan menerapkan harga jual dan stock menjadi sama ke seluruh varian.</p>
                                    </div>
                                    <i></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div formArrayName="varians">
                        <div class="row small-gutters u-margin-bottom-1" [formGroupName]="i" *ngFor="let variant of getVariants(addProductForm); let i = index">
                            <div class="col-md-4">
                                <!-- <img [src]="productStoreUrl + VariantAttr[i]?.imageUrl[0]" alt=""> -->
                                <span [class]="'variant-separator variant-separator--' + i" *ngFor="let item of VariantAttr[i]?.attributeVarians; let i = index">{{ item.value }}</span>
                            </div>
                            <div class="col-md-1">
                                <label class="switch small">
                                    <input formControlName="isUsed" type="checkbox" (change)="toggleControl(variant)">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" (change)="calculateDiscount()" placeholder="Harga Jual" formControlName="pricelist" class="form-control"
                                    [ngClass]="{'form-error': (variant.errors || variant.controls.pricelist.invalid) && (submitted || variant.controls.pricelist.touched) && variant.controls.isUsed.value == true}" maxlength="10" (keypress)="numberCheck($event, variant)">
                            </div>
                            <div class="col-md-2">
                                <input type="text" (change)="calculateDiscount()" placeholder="Harga111 Promo" formControlName="specialPrice" class="form-control"
                                    [ngClass]="{'form-error': (variant.errors || variant.controls.specialPrice.invalid) && (submitted || variant.controls.specialPrice.touched) && variant.controls.isUsed.value == true}" maxlength="10" (keypress)="numberCheck($event, variant)">
                            </div>
                            <div class="col-md-1">
                                <input type="text" placeholder="Stok" formControlName="qty" class="form-control text-center" (keypress)="numberCheck($event)">
                            </div>
                            <div class="offset-md-5 col-md-5">
                                <div *ngIf="(submitted || variant.controls.qty.touched) && variant.controls.qty.invalid && variant.controls.isUsed.value == true">
                                    <bss-field-error [displayError]="variant.controls.qty.errors.max" errorMsg="Maksimal stok 5"></bss-field-error>
                                    <bss-field-error [displayError]="variant.controls.qty.errors.required" errorMsg="Stok harus diisi"></bss-field-error>
                                </div>
                                <div *ngIf="(submitted || variant.touched) && variant.errors && variant.controls.isUsed.value == true">
                                    <bss-field-error [displayError]="variant.errors.invalidprice" errorMsg="Harga promo tidak boleh lebih besar dari harga jual"></bss-field-error>
                                </div>
                                <div *ngIf="(submitted || variant.controls.pricelist.touched) && variant.controls.pricelist.invalid && variant.controls.isUsed.value == true">
                                    <bss-field-error [displayError]="variant.controls.pricelist.errors.min" errorMsg="Harga jual minimal Rp 100"></bss-field-error>
                                    <bss-field-error [displayError]="variant.controls.pricelist.errors.required" errorMsg="Harga jual harus diisi"></bss-field-error>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper--image__btn">
                        <button class="btn wrapper--image__btn--btn-color" (click)="addVarian()" >Tambah Varian</button>
                    </div>

                    <!-- <app-modal [(visible)]="showRequestVarian" class="frameDialog">
                        <div class="wrapper--modal">
                            <h4 class="wrapper--modal__h4">
                                Ajukan produk yang anda inginkan disini
                            </h4>
                            <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
                                <div class="form-group">
                                    <input  formControlName="brand"  type="text" class="form-control" placeholder="Merek Produk" [ngClass]="{
                                        'has-danger': addProductForm.controls.brand.invalid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched),
                                        'has-success': addProductForm.controls.brand.valid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched)
                                        }">
                                    <div *ngIf="addProductForm.controls.brand.invalid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched)" class="alert alert-danger toll tooltip testing">
                                        <span class="tooltiptext" *ngIf="addProductForm.controls.brand.errors.required">Merek Produk harus diisi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input formControlName="productName" type="text" class="form-control" placeholder="Nama Produk" [ngClass]="{
                                        'has-danger': addProductForm.controls.productName.invalid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched),
                                        'has-success': addProductForm.controls.productName.valid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched)
                                        }">
                                    <div *ngIf="addProductForm.controls.productName.invalid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched)" class="alert alert-danger toll tooltip testing">
                                        <span class="tooltiptext" *ngIf="addProductForm.controls.productName.errors.required">Nama Produk harus diisi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea formControlName="description" class="f-control" id="" cols="30" rows="10" placeholder="Deskripsi Produk" [ngClass]="{
                                        'has-danger': addProductForm.controls.description.invalid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched),
                                        'has-success': addProductForm.controls.description.valid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched)
                                        }"></textarea>
                                    <div *ngIf="addProductForm.controls.description.invalid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched)" class="alert alert-danger toll tooltip testing">
                                        <span class="tooltiptext" *ngIf="addProductForm.controls.description.errors.required">Deskripsi Produk harus diisi</span>
                                    </div>
                                </div>
                                <div *ngIf="addProductForm.invalid || status === 1; else add">
                                    <div class="component-left">
                                        <div class="component-left"></div>
                                        <button class="btn btn-orange-disabled" [disabled]="addProductForm.invalid|| status === 1">Tambah</button>
                                    </div>
                                </div>
                                <ng-template #add>
                                    <div class="component-left">
                                        <button class="btn btn--orange">Tambah</button>
                                    </div>
                                </ng-template>
                            </form>
                        </div>
                    </app-modal> -->

                    <h4 style="margin-top: 50px;">Jasa Pengiriman</h4>
                    <!-- <div class="row"> -->
                    <div class="row">
                        <div class="col-9">
                            <div class="row" style="border: 1px solid #fd9426;">
                                <div class="col-12 courier">
                                    <div class="row">
                                        <div class="col-4 groupCourier">
                                            <img class="iconCourier" src="assets/img/delivery-man.png">
                                            <h4>Non pick up services</h4>
                                        </div>
                                        <div class="col-5">
                                            <span class="courierInfo">Anda harus mengantarkan paket ke jasa pengiriman terdekat</span>
                                        </div>
                                        <div class="col-3">
                                            <label class="switch small verticalMiddle" *ngIf="isFlase === false" (click)="btncouroer()">
                                                <input [checked]="false" type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                            <label class="switch small verticalMiddle" *ngIf="isFlase === true" (click)="btncouroerfalse()">
                                                <input [checked]="true" type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                            <div class="tooltip">
                                                <fa-icon class="tooltipIcon" [icon]="['fas','info-circle']"></fa-icon>
                                                <div class="right">
                                                    <div class="text-content">
                                                        <h3>Tips Jasa Pengiriman</h3>
                                                        <span>Tombol disamping digunakan Untuk Memilih penyedia pengiriman yang ingin anda aktfikan.</span>
                                                    </div>
                                                    <i></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="selectCourier" *ngIf="!routeUrl">
                                <table class="table" *ngIf="isFlase === true">
                                    <tr *ngFor="let courier of product?.couriers">
                                        <td>{{ courier.name }}</td>
                                        <td class="right">
                                            <label class="switch small">
                                                <input (change)="onChangeCourier(courier.code, $event.target.checked)" [value]="courier.code" [checked]="courier.isUse" type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="selectCourier" *ngIf="routeUrl">
                                <table class="table" *ngIf="isFlase === true">
                                    <tr *ngFor="let courier of  productsSandbox.coruerir$ | async">
                                        <td>{{ courier.name }}</td>
                                        <td class="right">
                                            <label class="switch small">
                                                <input (change)="onChangeCourier(courier.code, $event.target.checked)" [value]="courier.code" [checked]="courier.isUse" type="checkbox">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-3">
                            
                        </div>
                    </div>
                    <!-- div *ngIf="routerUrl"
                    dif *ngIf="routeUrl" -->
                </form>

            </div>
        </div>

    </div>

</div>
<div class="row">
    <div class="col-12 wrapper-btm text-right">
        <button (click)="postProductV2()" class="btn btn--orange">Save Product</button>
    </div>
</div>