<div class="row wrapper--income-seler">
  <div class="info__active">
    Pastikan kepada pihak Buyer untuk melakukan konfirmasi penerimaan barang agar dana dapat dicairkan ke toko Anda.
  </div>
  <div class="info__active">
    Jika buyer melakukan pembayaran menggunakan Debit Card, Credit Card atau Virtual Account, ada biaya layanan yang dibebankan ke seller per transaksi.
  </div>
  <div class="info__active">
    Untuk pencairan dana ke rekening selain BCA, biaya transfer ditanggung oleh seller dan akan dipotong saat pencairan dana.
  </div>
  <div class="col-12">
    <!-- <span class="text__header--title">My Income</span> -->
    <div class="background__header--title">
      <div class="text--background__header--title">
        <span>* </span>
        <span>Total </span>
        <span class="text-bold">Saldo yang bisa ditarik </span>
        <span>adalah </span>
        <span class="text-bold"> {{getTotal | currency:'Rp ':'symbol':'1.0'}} </span>
      </div>
      <div class="text--background__header--title">
        <span>* </span>
        <span class="text-bold">Minimum penarikan Saldo </span>
        <span> sebesar </span>
        <span>Rp 50.000</span>
      </div> 
    </div>
  </div>
  <div class="col-12 header--datetimepicker">
    <!-- <div class="wrapper-two__row--dtp">
      <div>1</div>
      <div>2</div>
    </div> -->
    <div class="row" >
      <div class="col-6 ">
        <!-- <div class="row"> -->
        
          <div class="wrapper__header--datetimepicker">
              <form [formGroup]="fGroup" >
                <div class="row">
                  <div class="col-4 zeroPaddingRight">
                      <my-date-picker class="frame-date" name="mydate" [options]="myDatePickerOptions" formControlName="date1"></my-date-picker>
                    </div>
                    <div class="col-1 upTo">-</div>
                
                  <div class="col-4 zeroPaddingLeft">
                    <my-date-picker class="frame-date" name="mydate" [options]="myDatePickerOptions" formControlName="date2"></my-date-picker>
                  </div>
                  <div class="col-3">
                      <button class="btn btn--orange" (click)="testing()">Cari</button>
                    </div>
                </div>
              </form>
              <div class="row">
                  <div class="col-12">
                    <span class="text--saldo">Saldo dari tanggal dd/mm/yy - dd/mm/yy</span>
                  </div>
              </div>
          </div>
        <!-- </div> -->
      </div>
      <div class="col-6 ">
          <!-- <div class="row"> -->
            <div class="col-12 wrapper__header--datetimepicker">
              <div class="row btn--wrapper">
                <div class="col-5">
                  <button class="btn btn--peach btn--height72"  (click)="selectAll()"> Pilih Semua </button>
                </div>
            
                <div class="col-5">
                    <button [ngClass]="btn_withrawal === true ? 'btn btn--green btn--height72': 'btn btn--disabled btn--height72'"
                    
                    (click)="tarikDana()">Tarik Dana</button>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div> 
    </div>
  </div>

<!-- <div class="row"> -->
  <div class="col-12 wrapper--body">
    <div class="outerBorder">
      <div *ngFor="let item of getData">
        <div class="four-grid" *ngIf="item.statusWithdrawCode==221">
          <div>
            <input type="checkbox" [checked]=item.selected (change)="onChange(item, $event.target.checked)"/>
          </div>
          <div><span class="createdTime"> {{ item.createdTime }} </span>
            <span class="text-collor__black text-bold"> {{ item.status }} {{ item.invoiceNumber }}</span>
            <!-- <fa-icon [icon]="['fab', 'facebook']"></fa-icon> Facebook</a> -->
            <a class="iconDetail" (click)="openDetail(item)"><fa-icon [icon]="['fas', 'search']" style="padding-top: 4%;" pull="right"></fa-icon></a>
          </div>
          <div>
            <span class="text-collor__black text-center text-display__block">Status</span>
            <span class="text-collor__black text-center text-display__block"> {{ item.statusWithdraw }}</span>
          </div>
          <div>
            <span class="text-collor__black text-center text-display__block">Nominal</span>
            <span class="text-collor__black text-center text-display__block"> {{item.grandTotal | currency:'Rp ':'symbol':'1.0'}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <div class="paging">
    <ul>
      <li>
        <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
      </li>
      <li>
        <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
      </li>
      <li *ngFor="let p of pages">
        <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
      </li>
      <li>
        <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
      </li>
      <li>
        <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
      </li>
    </ul>
  </div>
</div>
<app-modal [(visible)]="withdrawDetail" maxwidth="850">
  <div class="col-12 mutasi-wrapper">
    <div class="col-12 mutasi-head">
      <img class="mutasi-icon" src="assets/img/check-icon.png">
      <h2>Detail Mutasi</h2>
    </div>
    <div class="col-12 mutasi-contentDetail">
      <h1>Order ID</h1>
      <p>{{ orderID }}</p>
      <h1>Tanggal Selesai Transaksi</h1>
      <p>{{ date }}</p>
      <h1>Pembeli</h1>
      <p>Nama Pembeli</p>
      <div class="mutasi-table">
        <div class="row mutasi-underline"> 
          <div class="col-6 mutasi-tableHeader">Item Details</div>
          <div class="col-1 mutasi-tableHeaderCenter">Qty</div>
          <div class="col-2 mutasi-tableHeaderCenter">Berat</div>
          <div class="col-3 mutasi-tableHeaderRight">Price</div>
        </div>
        <div class="row removeMargin contentTable">
          <div class="col-12 removeMargin">
            <div class="row mutasi-lineProduct">
              <div class="col-6 mutasi-tableContent">VGA MSI Nvidia GeForce GTX 1080 Ti GAMING X 11GB</div>
              <div class="col-1 mutasi-tableContentCenter">X1</div>
              <div class="col-2 mutasi-tableContentCenter">1 Kg</div>
              <div class="col-3 mutasi-tablePrice">Rp. 3.000.000</div>
            </div>
            <div class="row mutasi-lineProduct">
              <div class="col-6 mutasi-tableContent">Sound Card MSI Nvidia GeForce Ti</div>
              <div class="col-1 mutasi-tableContentCenter">X1</div>
              <div class="col-2 mutasi-tableContentCenter">1 Kg</div>
              <div class="col-3 mutasi-tablePrice">Rp. 1.300.000</div>
            </div>
            <div class="row mutasi-lineProduct">
              <div class="col-6 mutasi-tableContent">Mouse Logitech Optical</div>
              <div class="col-1 mutasi-tableContentCenter">X1</div>
              <div class="col-2 mutasi-tableContentCenter">1 Kg</div>
              <div class="col-3 mutasi-tablePrice">Rp. 300.000</div>
            </div>
          </div>
        </div>
        <div class="row mutasi-doubleLine">
          <div class="col-7">
            <div class="mutasi-tableHeader">Metode Pengiriman</div>
            <div class="mutasi-pengiriman">JNE Reguler</div>
          </div>
          <div class="col-2 mutasi-tableContentCenter">4 Kg</div>
          <div class="col-3 mutasi-tablePrice">Rp. 20.000</div>
        </div>
        <div class="row removeMargin grandTotal">
          <div class="col-9 mutasi-total">Total:</div>
          <div class="col-3 mutasi-tablePrice">Rp. 4.620.000</div>
        </div>
      </div>
    </div>
  </div>
</app-modal>