.text-center {
    text-align: center;
}

.text-display__block {
    display: block;
}

.text-bold { 
    font-weight: bold;
}

.text-collor__black {
    color: black;
}

.info{
    &__active{
        text-align: center;
        border: 1px solid #f27138;
        border-radius: 8px;
        color: #e24400;
        background-color: #f7f2ce;
        padding: 1rem 1.5rem;
        margin: 0 15px 15px;
        text-align: justify;
        cursor: pointer;
        width: 100%;
    }

    &__noActive{
        display: none;
    }
}

.text__header--title {
    font-size: 3rem;
    color: black;
    display: block;
}
.wrapper--income-seler {
    padding: 3rem;
}
.background__header--title {
    background: #ECECEC;
    border: 1px solid #D8D8D8;
    padding: 1.2rem;
    .text--background__header--title {
        font-size: 2rem;
        color: black;
        
    }
}

.upTo {
    padding: 0;
    text-align: center;
}

.zeroPaddingRight{
    padding-right: 0;
}

.zeroPaddingLeft{
    padding-left: 0;
}

.header--datetimepicker {
    padding-top: 10px;
    
    .wrapper__header--datetimepicker{
        border: 1px solid;
        padding: 10px;
        .btn--wrapper {
            margin: 19px;
            margin-left: 13%;
        }
        .btn--orange {
            background: #F57B2A;
            color: white;
            width: 100%;  
        }
        .btn--peach {
            background: #DDB42E;
            color: white;
            width: 100%;
        } 
        .btn--green {
            background: #067E5B;
            color: white;
            width: 100%;
        }

        .btn--disabled {
            background: #dddddd;
            color: white;
            width: 100%;
        }

        .text--saldo {
            text-align: center;
            display: block;
        }
    }
}

.outerBorder {
    border: 1px solid #d8d8d8;
    padding: 20px 20px 0;
}

.createdTime {
    font-size: 12px;
    color: #444;
    display: block;
}

.wrapper--body {
    margin-top: 10px;
    .four-grid {
        display: grid;
        grid-template-columns: 10% 40% 30% 20%;
        padding: 1em;
        border-radius: 10px;
        background-color: #f5f5f5;
        margin-bottom: 20px;
        border: 1px solid #d8d8d8;
    }
}

.paging {
    margin: 0 auto;
    margin-top:20px;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.paging li {
    display: inline-block;
}

.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.iconDetail {
    font-size: 24px;
    &:hover {
        color: #f57b2a;
    }
    &:active {
        color: #db6a1e;
    }
}

.mutasi {
    &-wrapper {
        padding: 0;
        border: 1px solid #ff6b65
    }
    &-icon {
        float: left;
        height: 70px;
        width: 70px;
        position: absolute;
        top: 50%;
        left: 1%;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);
    }

    &-head {
        background-color: #ff6b65;
        padding: 15px 0;
        h2 {
            font-size: 35px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;
            margin-bottom: 0;
        }
    }
    &-contentDetail {
        padding: 15px 10px;
        h1 {
            font-size: 18px;
            margin-bottom: 0;
            color: #2b2b2b;
            padding-left: 15px;
        }
        p {
            font-size: 17px;
            margin-bottom: 10px;
            padding-left: 15px;
        }
    }

    &-table {
        margin: 10px 0 0;
        & .contentTable {
            padding: 10px 0;
            overflow-y: scroll;
            height: 100px;
        }
    }

    &-underline {
        border-bottom: 1px solid #bebebe;
        margin: 0px;
    }

    &-doubleLine {
        border-top: 1px solid #bebebe;
        border-bottom: 1px solid #bebebe;
        margin: 0px;
        padding: 10px 0;
    }

    &-tableHeader {
        color: #2b2b2b;
        font-weight: bold;
    }

    &-tableHeaderCenter {
        color: #2b2b2b;
        font-weight: bold;
        text-align: center;
    }

    &-tableHeaderRight {
        color: #2b2b2b;
        font-weight: bold;
        text-align: right;
    }

    &-tableContent {
        color: #2b2b2b;
        line-height: 24px;
    }

    &-lineProduct {
        margin: 0 -15px 10px;
    }

    &-tableContentCenter {
        color: #2b2b2b;
        line-height: 24px;
        text-align: center;
    }

    &-tablePrice {
        color: #009dff;
        line-height: 24px;
        text-align: right;
    }

    &-total {
        text-align: right;
        color: #2b2b2b;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.removeMargin {
    margin: 0;
}

.grandTotal {
    padding: 10px 0 0;
}

::-webkit-scrollbar {
    width: 5px;
    background:lightgray;
    scrollbar-width: thin;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(66, 66, 66); 
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background: #8f8f8f;
} 

.loading {
    position: absolute;
    top: -2px;
}