<span class="title">Listing Order</span>
<div class="frame-menu">
  <div [ngClass]="(tabOrder=='187')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('187')">
    Harus Kirim
  </div>
  <div [ngClass]="(tabOrder=='196')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('196')">
    Dalam Pengiriman
  </div>
  <div [ngClass]="(tabOrder=='tabSelesai')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('tabSelesai')">
    Pengiriman Selesai
  </div>
  <div [ngClass]="(tabOrder=='ALL')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('ALL')">
    Semua
  </div>
  <!-- <div [ngClass]="(tabOrder=='182')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('182')">
    Belum Bayar
  </div>
  <div [ngClass]="(tabOrder=='183')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('183')">
    Pembatalan
  </div> -->
</div>
<!-- <div id="cover">
  <form method="get" action="">
    <div class="tb">
      <div class="td"><input type="text" placeholder="Search" required></div>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
          <span></span>
        </button>
      </div>
    </div>
  </form>
</div> -->
<div class="frame-menu-contain">
  <div class="wrapper-top">
    <div class="search__box">
        <div class="search__wrapper">
            <input type="text" [(ngModel)]="keywordSearch" class="search__input"
                (keyup.enter)="onSearchSubmit()" (keyup)="searchK($event)"
                (focus)="showSearch = true" (focusout)="onSearchFocusOut()" placeholder="Pencarian Produk">
            <fa-icon (click)="onSearchSubmit()" class="search__icon" [icon]="['fas', 'search']"></fa-icon>
        </div>
        <!-- <button class="search__button" (click)="onSearchSubmit()">Cari</button> -->
        <div class="clearfix"></div>
    </div>
    <!-- <div class="float-right">
      <div class="styled-select dropdown-sort">
        <select>
          <option value="acsending">Terbaru - Terlama</option>
          <option value="descending">Terlama - Terbaru</option>
        </select>
      </div>
    </div> -->
  </div>
  <bss-order-list></bss-order-list>
  <!-- <app-order-history *ngIf="tabOrder=='tabHistory'"></app-order-history> -->
</div>