.title{
    font-family: arial;
    font-size: 3rem;
}

.frame-menu{
    margin-top: 2rem;
    padding: 0.7rem;
    border: 1px solid #dddddd;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    box-shadow: 2px 2px 4px #c9c9c9;
    cursor: pointer;  
}

.btn-tab{
    
    &__active{
        text-align: center;
        border-bottom: 2px solid #f27138;
        color: #f27138;
        padding: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }

    &__noActive{
        text-align: center;
        border-bottom: 1px solid #ffffff;
        color: #222222;
        padding: 0.5rem;
        margin-right: 0.5rem;
        cursor: pointer;
    }
    
}

.btn-tab__noActive:hover{
    border-bottom: 2px solid #f27138;
    color: #f27138;
}

.frame-menu-contain{
    margin-top: 1rem;
}
