<div>
    <div>
        <div class="col-8">
            <div class="welcome">Mengapa belanja di Belisada.co.id</div>
            <div class="row">
                <div class="col-4">
                    <div class="panel center"><img src="assets/img/store_icon.png" border="0">
                        <h3>Terlengkap</h3>Kami menyediakan terlengkap...</div>
                </div>
                <div class="col-4">
                    <div class="panel center"><img src="assets/img/cart_icon.png" border="0">
                        <h3>Transaksi Mudah</h3>Transaksi di belisada.co.id sangat mudah...</div>
                </div>
                <div class="col-4">
                    <div class="panel center"><img src="assets/img/basket_icon.png" border="0">
                        <h3>Segala Produk Ada</h3>Kami menyediakan beragam produk...</div>
                </div>
            </div>
        </div>
    </div>
</div>
