<div class="row wrapper--income-seler">
<!-- <div class="row"> -->
  <div class="col-12 wrapper--body">
    <div class="outerBorder">
      <div *ngFor="let item of getData">
        <div class="four-grid">
          <div class="insideGrid">
            <input type="checkbox" [checked]=item.selected (change)="onChange(item, $event.target.checked)" *ngIf="item.statusWithdrawCode==221"/>
          </div>
          <div class="insideGrid">
            <span class="createdTime"> {{  item.createDate }} </span>
            <span class="text-collor__black text-bold">{{ item.invoiceNumber }}</span>
          </div>
          <div class="insideGrid">
            <span class="text-collor__black text-center text-display__block">Status</span>
            <span class="text-collor__black text-center text-display__block"> {{ item.status }}</span>
          </div>
          <div class="insideGrid">
              <span class="text-collor__black text-center text-display__block">Nominal</span>
              <span class="text-collor__black text-center text-display__block"> {{item.grandTotal | currency:'Rp ':'symbol':'1.0'}} </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <div class="paging">
    <ul>
      <li>
        <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
      </li>
      <li>
        <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
      </li>
      <li *ngFor="let p of pages">
        <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
      </li>
      <li>
        <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
      </li>
      <li>
        <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
      </li>
    </ul>
  </div>
</div>