.frame-dis-contain{
    background: #fff;
    padding: 1rem;
    margin:0px auto;
}

.noDiscussion {
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}

.noDiscussionLabel {
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    color: #000000;
    text-transform: capitalize;
}


.verticalMiddle {
    vertical-align: middle;
    position: relative;
    height: 400px;
}

.paging{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 0.3rem 1rem;
    margin: 0 3px;
    border-radius: 0.5rem;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}