<div class="containPage">
    <div class="row">
        <div class="col-12">
            <a class="profile-toko-text" [routerLink]="['/profile']" routerLinkActive="dummy-backgorund_active">
                <div class="dummy-backgorund">
                    <div>
                        <img class="img-small-store-for-sidebar" src="assets/img/icon-profiltoko.png">
                        <span>Profil Toko</span>
                        <!-- <fa-icon [icon]="['fas', 'bell']"></fa-icon> -->
                    </div>
                </div>
            </a>
            <a class="profile-toko-text" [routerLink]="['/listing-product']" routerLinkActive="dummy-backgorund_active" >
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/listing-produk.png">
                    Listing Product
                </div>
            </a>
            <a class="profile-toko-text" [routerLink]="['/listing-order']" routerLinkActive="dummy-backgorund_active">
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/listing-order.png">
                    Listing Order
                </div>
            </a>
            <a class="profile-toko-text" [routerLink]="['/Income']" routerLinkActive="dummy-backgorund_active">
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/pendapatan.png">
                    My Income
                </div>
            </a>
            <!-- <a class="profile-toko-text" [routerLink]="['/search-product-master']">
                <div class="dummy-backgorund">
                        search-product-master
                </div>
            </a> -->
            <a class="profile-toko-text" [routerLink]="['/discussion-review']" routerLinkActive="dummy-backgorund_active">
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/icon-diskusi.png">
                    Diskusi & Ulasan
                </div>
            </a>
            <!-- <a class="profile-toko-text" [routerLink]="['/product-assist']" routerLinkActive="dummy-backgorund_active">
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/icon-profiltoko.png">
                    Bantuan Produk
                </div>
            </a> -->
            <a class="profile-toko-text" (click)="logout()">
                <div class="dummy-backgorund">
                    <img class="img-small-store-for-sidebar" src="assets/img/icon-profiltoko.png">
                    Logout
                </div>
            </a>
        </div>
    </div>
</div>
