<div class="containPage">
    <div class="row">
        <div class="col-12">
        <span class="title-sidebar-seller">MERCHANT</span>
        <div class="border-sidebar-seller">
        <div class="dummy-backgorund">
            <img class="img-small-store-for-sidebar" src="assets/img/store_icon.png">
            <span class="profile-toko-text" (click)="storeProfile()">Profil Toko</span>
            <!-- <fa-icon [icon]="['fas', 'bell']"></fa-icon> -->
        </div>
        <div class="dummy-backgorund">
            <a>Add Product</a>
        </div>
        </div>
    </div>
</div>
