<div class="containPage">
    <div class="row">
        <div class="col-12">
        <span class="title-sidebar-seller">MERCHANT</span>
        <div class="border-sidebar-seller">
        <a class="profile-toko-text" [routerLink]="['/']">
            <div class="dummy-backgorund">
                <!-- <img class="img-small-store-for-sidebar" src="assets/img/store_icon.png"> -->
                Profil Toko
                <!-- <fa-icon [icon]="['fas', 'bell']"></fa-icon> -->
            </div>
        </a>
        <a class="profile-toko-text" [routerLink]="['/listing-product']">
            <div class="dummy-backgorund">
                Listing Product
            </div>
        </a>
        <a class="profile-toko-text" [routerLink]="['/listing-order']">
            <div class="dummy-backgorund">
                Listing Order
            </div>
        </a>
        <a class="profile-toko-text" [routerLink]="['/Income']">
            <div class="dummy-backgorund">
            My Income
            </div>
        </a>
        <!-- <a class="profile-toko-text" [routerLink]="['/search-product-master']">
            <div class="dummy-backgorund">
                    search-product-master
            </div>
        </a> -->
        <a class="profile-toko-text" [routerLink]="['/discussion-review']">
            <div class="dummy-backgorund">
                Discussion & Review
            </div>
        </a>
        <a class="profile-toko-text" [routerLink]="['/product-assist']">
            <div class="dummy-backgorund">
                Bantuan Produk
            </div>
        </a>
        <a class="profile-toko-text" (click)="logout()">
            <div class="dummy-backgorund">
                Logout
            </div>
        </a>
        
        </div>
    </div>
</div>
