<form [formGroup]="addProductForm" (submit)="onProductSubmit()">
    <h2 class="test">Ubah Gambar Produk</h2>
    <p>Minimal gambar 2 dan maksimal gambar produk 5</p>

    <div class="add-product-form-wrapper">
        <ul class="add_product_image clearfix" id="image-list">
            <li class="u-inline-list-gap" *ngFor="let item of f.imageUrl.value; let i = index">
                <div class="image-preview" [ngStyle]="{'background-image': 'url(' + item + ')'}">
                    <span class="action-button" (click)="removeImage(i)" *ngIf="disabled === false">
                        <fa-icon [icon]="['fas', 'trash']"></fa-icon>
                    </span>
                </div>
            </li>
            <li>
                <div class="pikcker-wrapper picker-add-image" *ngIf="(f.imageUrl.value.length < 5) && disabled === false">
                    <input type="file" accept="image/jpeg,.jpeg,.jpg,image/png,.png" (change)="getSelectedFiles($event)">
                </div>
            </li>
        </ul>
    </div>

    <h2>Informasi Produk</h2>
    <div class="add-product-form-wrapper">
        <div class="row f-group">
            <label for="staticEmail" class="col-3 middle">Nama Produk</label>
            <div class="col-9">
                <div class="drick-select-container drick-select-container--fluid">
                    <div class="ui icon input parent">
                        <input class="f-control drick-select__text" [ngClass]="{'active':onProductNameFocus}" type="text"
                            formControlName="name" (keyup)="searchProductName($event)" (focus)="onProductNameFocus = true"
                            (focusout)="onProductNameBlur()" maxlength="160" placeholder="Nama Produk">
                        <i class="drick-select__icon caret down icon"></i>
                    </div>
                    <div class="drick-select-container--toggle" [ngClass]="{'active':onProductNameFocus}"
                        id="drick-scroll-container--brand">
                        <ul class="drick-select-list">
                            <li *ngFor="let i of productSuggestionList" (click)="selectProductName(i)">
                                {{i.name}}
                            </li>
                            <li *ngIf="(productSuggestionList.length === 0)">
                                Nama produk tidak ditemukan
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="(submitted || f.name.touched) && f.name.invalid">
                        <bss-field-error [displayError]="f.name.errors.required" errorMsg="Silahkan masukan nama produk kamu"></bss-field-error>
                    </div>
                </div>

                <!-- <input type="text" maxlength="30" formControlName="name" (keyup)="getProductSuggestion($event)" class="f-control" placeholder="Nama Produk">
                <div *ngIf="f.name.touched && f.name.errors">
                    <bss-field-error [displayError]="f.name.errors.required" errorMsg="Silahkan masukan nama produk kamu"></bss-field-error>
                </div> -->
            </div>
        </div>
        <div class="row f-group">
            <label class="col-3 middle">Merek</label>
            <div class="col-9">

                <div class="drick-select-container">
                    <div class="ui icon input parent">
                        <input class="f-control drick-select__text" [ngClass]="{'active':onBrandFocus}" type="text"
                            formControlName="brandName" (keyup)="searchBrand()" (focus)="onBrandFocus = true"
                            (focusout)="onBrandBlur()" placeholder="Select one">
                        <i class="drick-select__icon caret down icon"></i>
                    </div>
                    <div class="drick-select-container--toggle" [ngClass]="{'active':onBrandFocus}"
                        id="drick-scroll-container--brand"
                        (scroll)="onBrandScrollDown()">
                        <ul class="drick-select-list">
                            <li *ngFor="let i of brandList.data" (click)="selectBrand(i)">
                                {{i.name}}
                            </li>
                            <li *ngIf="(brandList.data.length === 0)">
                                Brand tidak ditemukan
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row f-group">
            <label class="col-3 middle">Kategori Produk</label>
            <div class="col-9">
                <!-- <input type="text" class="f-control" placeholder="Kategori Produk"> -->
                <table>
                    <tr>
                        <td>
                            <div class="drick-select-container">
                                <div class="ui icon input parent">
                                    <input class="f-control drick-select__text" [ngClass]="{'active':onCategoryFocus.C1}" type="text" [(ngModel)]="categoryName.C1"
                                        (keyup)="searchCategory(cte.C1)" [ngModelOptions]="{standalone: true}"
                                        (focus)="onCategoryFocus.C1 = true" (focusout)="onCategoryBlur(cte.C1)"
                                        [disabled]="disabled" placeholder="Select one">
                                    <i class="drick-select__icon caret down icon"></i>
                                </div>
                                <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C1}"
                                    id="drick-scroll-container--category">
                                    <ul class="drick-select-list">
                                        <li *ngFor="let category of categoryList.C1.data" (click)="selectCategory(category)">
                                            {{category.name}}
                                        </li>
                                        <li *ngIf="(categoryList.C1.data.length === 0)">
                                            Category tidak ditemukan
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="drick-select-container">
                                <div class="ui icon input parent">
                                    <input class="f-control drick-select__text" [ngClass]="{'active':onCategoryFocus.C2}" type="text" [(ngModel)]="categoryName.C2"
                                        (keyup)="searchCategory(cte.C2, categoryId.C1)" [ngModelOptions]="{standalone: true}"
                                        (focus)="onCategoryFocus.C2 = true" (focusout)="onCategoryBlur(cte.C2)"
                                        [disabled]="disabled" placeholder="Select one">
                                    <i class="drick-select__icon caret down icon"></i>
                                </div>
                                <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C2}"
                                    id="drick-scroll-container--category">
                                    <ul class="drick-select-list">
                                        <li *ngFor="let category of categoryList.C2.data" (click)="selectCategory(category)">
                                            {{category.name}}
                                        </li>
                                        <li *ngIf="(categoryList.C2.data.length === 0)">
                                            Category tidak ditemukan
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="drick-select-container">
                                <div class="ui icon input parent">
                                    <input class="f-control drick-select__text" [ngClass]="{'active':onCategoryFocus.C3}" type="text" [(ngModel)]="categoryName.C3"
                                        (keyup)="searchCategory(cte.C3, categoryId.C2)" [ngModelOptions]="{standalone: true}"
                                        (focus)="onCategoryFocus.C3 = true" (focusout)="onCategoryBlur(cte.C3)"
                                        [disabled]="disabled" placeholder="Select one">
                                    <i class="drick-select__icon caret down icon"></i>
                                </div>
                                <div class="drick-select-container--toggle" [ngClass]="{'active':onCategoryFocus.C3}"
                                    id="drick-scroll-container--category">
                                    <ul class="drick-select-list">
                                        <li *ngFor="let category of categoryList.C3.data" (click)="selectCategory(category)">
                                            {{category.name}}
                                        </li>
                                        <li *ngIf="(categoryList.C3.data.length === 0)">
                                            Category tidak ditemukan
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row f-group">
            <label class="col-3 middle">Deskripsi</label>
            <div class="col-9">
                <div class="col-9">
                    <textarea formControlName="description" placeholder="Deskripsi" class="f-control" rows="4"></textarea>
                    <div *ngIf="(submitted || f.description.touched) && f.description.invalid">
                        <bss-field-error [displayError]="f.description.errors.required" errorMsg="Silahkan masukan deskripsi produk kamu"></bss-field-error>
                    </div>
                </div>
            </div>
        </div>
        <div class="row f-group">
            <label class="col-3 middle">Spesifikasi Produk</label>
            <div class="col-4">
                <label *ngIf="categoryAttributes.length === 0" class="middle">*Silahkan pilih kategori terlebih dahulu</label>
                <div class="f-group" *ngFor="let categoryAttribute of categoryAttributes">

                    <select [(ngModel)]="spec[categoryAttribute.attributeId]" class="f-control" *ngIf="categoryAttribute.isInstanceAttribute === false"
                        [attr.required]="categoryAttribute.isMandatory" [ngModelOptions]="{standalone: true}" [disabled]="disabled">
                            <option value="" disabled>{{ categoryAttribute.name }}</option>
                            <option [value]="attrValue.attributeValueId" *ngFor="let attrValue of categoryAttribute.data">{{ attrValue.name }}</option> -->
                    </select>
                </div>
            </div>
        </div>
    </div>

    <h2>Harga dan Stok</h2>
    <div class="add-product-form-wrapper">
        <div class="row f-group">
            <label class="col-3">Kondisi Barang</label>
            <div class="col-9">
                <span *ngFor="let i of classifications">
                    <input id="{{ i.statusCode }}" type="radio"
                        formControlName="classification" [value]="i.statusCode"/>
                    <label for="{{ i.statusCode }}">{{ i.status }}</label>
                </span>
            </div>
        </div>

        <div class="row f-group">
            <label class="col-3 middle">Harga</label>
            <div class="col-3">
                <input formControlName="pricelist" type="text"
                    class="f-control" placeholder="Harga" (keypress)="numberCheck($event)"
                    (keyup)="calculateDiscount()" maxlength="10"/>
                <div *ngIf="(submitted || f.pricelist.touched) && f.pricelist.invalid">
                    <bss-field-error [displayError]="f.pricelist.errors.required" errorMsg="Silahkan masukan harga"></bss-field-error>
                </div>
            </div>
        </div>

        <div class="row f-group">
            <label class="col-3 middle">Harga Promo</label>
            <div class="col-3">
                <input formControlName="specialPrice" type="text"
                    class="f-control" placeholder="Harga Promo" (keypress)="numberCheck($event)"
                    (keyup)="calculateDiscount()" maxlength="10"/>
                <!-- <div *ngIf="f.pricelist.touched && f.pricelist.errors"> -->
                    <bss-field-error [displayError]="errMaxDiscount" errorMsg="Harga promo melebihi harga asli"></bss-field-error>
                <!-- </div> -->
            </div>
        </div>

        <div class="row f-group" *ngIf="isDiscountActive">
            <label class="col-3 middle">Jumlah Diskon</label>
            <div class="col-3">
                <div class="label--special-price">
                    <div class="pull-left">Rp</div><div class="pull-right">{{ totalDiscount | number}}</div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-6 middle">
                <span class="label--discount">{{ f.discount.value }}%</span> <span class="label--discount-desc">Diskon pada product anda</span>
            </div>
        </div>

        <div class="row f-group">
            <label class="col-3 middle">Stok</label>
            <div class="col-3">
                <input type="text" formControlName="qty" class="f-control" placeholder="Stok" (keypress)="numberCheck($event)" maxlength="10">
                <div *ngIf="(submitted || f.qty.touched) && f.qty.invalid">
                    <bss-field-error [displayError]="f.qty.errors.required" errorMsg="Silahkan masukan stok"></bss-field-error>
                </div>
            </div>
        </div>
        <div class="row f-group">
            <label class="col-3 middle">Garansi</label>
            <div class="col-3">
                <select formControlName="guaranteeTime" class="f-control">
                    <option *ngFor="let i of warranty" [value]="i.statusCode">{{ i.status }}</option>
                </select>
                <div *ngIf="(submitted || f.guaranteeTime.touched) && f.guaranteeTime.invalid">
                    <bss-field-error [displayError]="f.guaranteeTime.errors.required" errorMsg="Silahkan pilih garansi"></bss-field-error>
                </div>
            </div>
        </div>
    </div>

    <h2>Pengiriman</h2>
    <div class="add-product-form-wrapper">
        <div class="row f-group">
            <label class="col-3 middle">Berat</label>
            <div class="col-2">
                <input type="text" formControlName="weight" class="f-control" (keypress)="numberCheck($event)" maxlength="10" placeholder="Berat">
                <div *ngIf="(submitted || f.weight.touched) && f.weight.invalid">
                    <bss-field-error [displayError]="f.weight.errors.required" errorMsg="Silahkan masukan berat"></bss-field-error>
                </div>
            </div>
            <div class="col-2">
                <select [(ngModel)]="measurementType" [ngModelOptions]="{standalone: true}" [disabled]="disabled" class="f-control">
                    <option value="0">Gr</option>
                    <option value="1">Kg</option>
                </select>
            </div>
        </div>
        <!-- <div class="row f-group">
            <div class="row">
                <label class="col-3 middle">Dimensi</label>
                <div class="col-2">
                    <input formControlName="dimensionslength"  type="text" class="f-control" (keypress)="numberCheck($event)" maxlength="10" placeholder="P">
                    <div *ngIf="(submitted || f.dimensionslength.touched) && f.dimensionslength.invalid">
                        <bss-field-error [displayError]="f.dimensionslength.errors.required" errorMsg="Silahkan isi panjang dimensi"></bss-field-error>
                    </div>
                </div>
                <div class="col-2">
                    <input formControlName="dimensionsWidth"  type="text" class="f-control" (keypress)="numberCheck($event)" maxlength="10" placeholder="L">
                    <div *ngIf="(submitted || f.dimensionsWidth.touched) && f.dimensionsWidth.invalid">
                        <bss-field-error [displayError]="f.dimensionsWidth.errors.required" errorMsg="Silahkan isi lebar dimensi"></bss-field-error>
                    </div>
                </div>
                <div class="col-2">
                    <input formControlName="dimensionsheight"  type="text" class="f-control" (keypress)="numberCheck($event)" maxlength="10" placeholder="T">
                    <div *ngIf="(submitted || f.dimensionsheight.touched) && f.dimensionsheight.invalid">
                        <bss-field-error [displayError]="f.dimensionsheight.errors.required" errorMsg="Silahkan isi tinggi dimensi"></bss-field-error>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row f-group">
            <label class="col-3 middle">Delivery Service</label>
            <div class="col-6">
                <div class="cardlist">
                    <table class="table">
                        <tr *ngFor="let courier of couriers">
                            <td>{{ courier.name }}</td>
                            <!-- <td>i</td> -->
                            <td class="right">
                                <label class="switch small">
                                    <input (change)="onChangeCourier(courier.code, $event.target.checked)"
                                        [value]="courier.code" [checked]="courier.isUse" type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <input type="submit" class="btn btn--yellow" value="Simpan">
        <input type="button" (click)="reset()" class="btn margin-left" value="Reset">
        <input type="button" (click)="cancel()" class="btn margin-left" value="Batal">
    </div>
</form>
