.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.pull-left {float: left; }
.pull-right {float: right; }

.u-margin-top-2 { margin-top: 2rem; }

.u-margin-bottom-8 { margin-bottom: 8rem; }
.u-margin-bottom-3 { margin-bottom: 3rem; }
.u-margin-bottom-1 { margin-bottom: 1rem; }
.u-margin-bottom-0 { margin-bottom: 0!important }

.centered-block-element { margin: 0 auto }

.u-margin-right-0 { margin-right: 0!important; }
.u-margin-right-1 { margin-right: 1rem; }

.u-margin-left-1 { margin-left: 1rem; }

.u-display-block {
    display: block;
}

.u-display-table-cell {
    display: table-cell;
}

a.link-text:link {
    color: #37aeee;
    text-decoration: none;
}

a.link-text:visited {
    color: #37aeee;
}

a.link-text:hover{
    color: #5bc2f9;
    text-decoration: none;
}

.component-center{
    text-align: center;
}

.panel{
    border: 1px solid #dddddd;
    box-shadow: 2px 4px #ebeaea;
    padding:10px;
    border-radius:5px;
    margin-bottom:10px;
}

.clearfix {
    clear: both;
}

.center { text-align:center; }

.left { text-align:left; }

.right { text-align:right; }

.p-relative { position: relative; }

.show-element { display: block!important; }
.hide-element { display: none!important; }

.invisible-fluid-container { 
    width: 100%;
    min-height: 1px
}