.frame-print{
    margin:0px auto;
    width: 700px;
    border: 1px solid #dddddd;
    padding:10px;
    margin-top:20px;
}

.title-text{
    font-size: 15px;
    color:#111111;
    font-weight: bold;
    display: block;
}

.frame-print-cont{
    background: #efefef;
    color: #111111;
    padding: 10px;
}

.cont-title{
    font-size: 20px;
    display: block;
}

.cont-hp{
    font-size: 18px;
    display: block;
}

.cont-nama{
    font-size: 15px;
    display: block;
    font-weight: bold;
}

.cont-almt{
    font-size: 16px;
    display: block;
    font-weight: bold;
}

.cont-pack{
    font-size: 16px;
    display: block;
    font-weight: bold;
    color: #111111;
}

@media print {
  .do-not-print {
    display: none!important;
  }
}
