<div id="print-section" class="frame-print">
  <div class="row">
    <div class="col-8">
        <img src="assets/img/logo.png" border="0" width="200">
        <div class="row">
          <div class="col-4">
            <span class="title-text">Penjual</span>
            Samuel
          </div>
          <div class="col-4">
            <span class="title-text">Pembeli</span>
            Renaldi
          </div>
          <div class="col-4">
            <span class="title-text"><u>JNE REG</u></span>
          </div>
        </div>
    </div>
    <div class="col-4">
      Barcode
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="frame-print-cont">
        <span class="cont-title">Dikirim ke :</span>
        <span class="cont-hp">0818999999</span>
        <span class="cont-nama">Mr. Samuel</span>
        <span class="cont-almt">Kota Bogor Kota Jawa Barat 166244, No.18 Sebelah Warung Remang-Remang.</span>
      </div>
    </div>
    <div class="col-4">
      <span class="cont-pack">Paking Kayu</span>
      <span class="cont-pack">Asuransi: Tidak</span>
      <!-- <div id="print-section">
        // your html stuff that you want to print
      </div> -->
      <button class="do-not-print" (click)="print()">print</button>
    </div>
  </div>
</div>
