<div id="print-section" class="frame-print">
  <div class="row">
    <div class="col-8">
        <img src="assets/img/logo.png" border="0" width="200">
        <div class="row">
          <div class="col-4">
            <span class="title-text">Penjual</span>
            {{ ListingData.storeName }}
          </div>
          <div class="col-4">
            <span class="title-text">Pembeli</span>
            {{ ListingData.namaPenerima }}
          </div>
          <div class="col-4">
            <span class="title-text"><u>{{ ListingData.courierName }} {{ ListingData.courierService }}</u></span>
          </div>
        </div>
    </div>
    <div class="col-4">
      Barcode<br>
     <img class="img--barcode" src="{{ img }}">
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="frame-print-cont">
        <span class="cont-title">Dikirim ke :</span>
        <span class="cont-hp"> {{ListingData.phonePenerima}} </span>
        <span class="cont-nama"> {{ ListingData.namaPenerima }}</span>
        <span class="cont-almt"> {{ ListingData.alamatPenerima }} </span>
      </div>
    </div>
    <div class="col-4">
      <span class="cont-pack">Paking Kayu</span>
      <span class="cont-pack">Asuransi: Tidak</span>
      <!-- <div id="print-section">
        // your html stuff that you want to print
      </div> -->
      <!-- <button class="do-not-print" (click)="print()">print</button> -->
    </div>
  </div>
</div>
