.link-back{
    color:2034f4;
    cursor: pointer;
    text-align: center;
}

.validasi-forgot-password {
    border-radius: 6px;
    border: 1px solid;
    color: red;
    padding: 5px 9px 6px;
    width: 90%;
}