.text-registration{
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    padding: 10px 0px 20px 0px;
}

.text-btn{
    font-weight: bold;
    font-size: 30px;
}

.welcome{
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    margin-bottom:50px;
}
.padding-on-top {
    padding: 32px;
}

.togglePassBuy{
    margin-top:-40px;
    margin-left: 85%;
    margin-bottom:20px;
    cursor: pointer;
}