.b-green{
    background: #b7f5ae;
    padding:10px 20px;
    margin:20px 200px;
    color:#000000;
    // text-align: center;
}

.b-header{
    border-bottom:8px solid #1a5077;
}

.b-footer{
    background: #1a5077;
    color: #ffffff;
    padding:10px;
}

.b-footer-sub{
    background: #f0b75c;
    color: #000000;
    padding:10px;
}

.icon-lampu{
    text-align: right;
}

.text-green{
    padding-top:18px;
}