.img-store{
    height: 100vh;
    width: 739px;
    background-repeat: no-repeat;
    background-image: url("/assets/img/seller-img.png");
}

.conStore{
    width: 1300px;
}

.backHome{
    font-size: 20px;
    color: #111111;
    text-align: right;
    font-weight: bold;
}

.backHome:hover{
    color: #636261;
    cursor: pointer;
}

.barStore{
    // border-right: 3px solid #dddddd;
    // border-bottom: 3px solid #dddddd;
    padding: 20px;
    margin-bottom:20px;
}

.conLoginStore{
    text-align: center;
}

.title-store-login{
    color:#111111;
    font-size:40px;
}

.input-login-form{
    border: 1px solid #dddddd;
    padding: 18px 18px 18px 55px;
    border-radius: 5px;
    width: calc(100%);
    position: relative;
    background-color: transparent;
    font-size: 18px;
}

.storeIcon{
    border-top: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 7px;
    border-radius: 5px 0px 0px 5px;
    width: 65px;
    float: left;
    background: #dddddd;
    font-size: 20px;
}

.text-login{
    font-size: 20px;
}

.alert-error-store{
    border: 1px solid #fc010d;
    background: #ffffff;
    border-radius:5px;
    padding:10px;
    color: #e81923;
    margin-bottom:10px;
}

.togel{
    cursor: pointer;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}