@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700,900');

.frame-title{
    display: grid;
    grid-template-columns: 16.6% 12.6% 14.6% 12.6% 14.6% 11.6%;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    height: 40px;
    box-shadow: 0 1.5px 3px 0 rgba(255, 64, 64, 0.16);
    background-color: #ffffff;
    z-index: 1;
    position: relative;
}

.table-header {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 13pt;
    color: #2e2e2e;
    padding-top: 5px;
}
.cust{
    color:black;
}

.frame-contain{
    margin-top: 1rem;
    background: #ffffff;
    box-shadow: 2px 2px 4px #c9c9c9;
    border: 1px solid #f5f5f5;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

.w__edit--cetak-label {
    font-size: 1.1rem !important;
    font-weight: bold;
    color: #a0a0a0;
    cursor: pointer;
    margin-top: 41px;

    &:hover{
        color: #f5952c;
    }
}
.w--status__wrapper {
    padding-left: 15%;
    padding-right: 15%;
}

.button {
    background: white;
}
.trans-list{
    padding: 1rem;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    color: #2e2e2e;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #fcfcfc;
    font-family: Roboto;

    &__light{
        background: #c8fab5;
        padding: 1rem;
        color: #000000;
    }
}

.order-data {
    display:grid;
    grid-template-columns: 14.28% 14.28% 14.28% 14.28% 14.28% 14.28% 14.28%;
}
.bold {
    font-weight: bold;
}
.red-font {
    color:#ff581a;
}
.cont-buyer {
    padding: 1rem;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right{
    text-align: right;
}
.float-right{
    float: right;
}

.frame-cont{
    display: grid;
    grid-template-columns: 28% 26% 12% 12% 22%;
    color: #111111;
}
.table-container{
    background-color: #fff;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    padding-top: 13px;
    padding-bottom: 22px;
}
.product-list {
    display: grid;
    grid-template-columns: 80% 20%;
}
.margin-bottom {
    margin-bottom: 10px;
}

.name {
    font-weight: bold;
}
.w-wrapper__for--cetak_invoice {
    display: grid;
    grid-template-columns: 15% 30% 10% 30% 15%;
    padding: 2.5rem;
}

.nm-item{
    font-family: "Roboto", sans-serif;
    font-size: 1.7rem;
    display: block;
    font-weight: 700;
    color:#002867;
}

.nm-var{
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    color:#797979;
    text-transform: uppercase;
}

.product-set {
    margin-bottom: 10px;
}
.nm-item-courier{
    font-size: 1.2rem;
    display: block;
    padding-bottom: 2rem;
}

.sku-item{
    color:#a0a0a0;
}

.qty-item{
    text-align: center;
}

.uang-item{
    color:#fd762c;
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
}

.small-text{
    font-size: 1.1rem;
    font-weight: bold;
    color:#a0a0a0;
}

.blue-text{
    font-size: 1.4rem;
    color: #1e82fc;
    display: block;
}

.btn-order{
    background: #f5952c;
    color: #fffdfb;
    padding: 1.5rem;
    border-radius: 3px;
    width: 15rem;
    text-align: center;
    cursor: pointer;
}

.btn-order:hover{
    background: #f4b876;
}

.choose{
    margin-left:auto;
    margin-right:auto;
    display: table;
    margin-top: 15px;
}

.btn-acc{
    text-align: center;
    width: #{46.3 * 2}px;
    height: #{15.7 * 2}px;
    border-radius: 5px;
    background-color: #ff9e57;
    color: #ffffff;
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    float: left;

    &:hover {
        background-color: #ac5517;
        }
}

.btn-dec{
    text-align: center;
    width: #{46.3 * 2}px;
    height: #{15.7 * 2}px;
    border-radius: 5px;
    background-color: #919191;
    color: #ffffff;
    padding: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
    text-transform: uppercase;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    float: right;

    &:hover {
        background-color: #4d4d4d;
        }
}

// .cart{
//     display: grid;
//     grid-template-columns: repeat(4, 1fr);
// }

.print-order{
    cursor: pointer;
    margin-left: 0.5rem;
    color: #f79829;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.modal-body{
    background: #f7f7f7;
    padding: 1rem;
    border-radius:5px;
    font-size: 1.2rem;
}

.no-resi{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.con-resi{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.line-resi{
    display: block;
}

.c-resi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.2rem;
}

.tr-black{
    color: #000000;
}

.foot-resi{
    margin-top: 2rem;
    border-top: 1px solid #dddddd;
    background: #f7f7f7;
    padding: 0.5rem;
    text-align: right;
}

.field-r{
    width: 100%;
    padding: 0.8rem;
}

.no-resi{
    margin-top: 1rem;
    margin-bottom: 0px;
}

.m-left{
    margin-right: 1rem;
}

.text-small{
    font-size: 1.1rem;
}

.error-body{
    font-size: 1.5rem;
    color: #f53b1a;
    text-align: center;
    margin-top: 2rem;
    background: #f7f7f7;
}

.success-body{
    font-size: 1.5rem;
    color: #111111;
    text-align: center;
    margin-top: 2rem;
    background: #f7f7f7;
}

.txt-batal{
    color: #000000;
}

.paging{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 0.3rem 1rem;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.zoom-icon {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
    float: right;
    margin-right: 8%;
}
.tolak {
    height: 200px;
    font-family: Helvetica;
    color: black;
    font-size: 14pt;
    font-style: italic;
}

:host ::ng-deep .dialog {
    padding: 35px;
    top: 20%;
}

.red {
    background-color: #fd5353;
    font-family: Helvetica;
    color: #fff;
    font-weight: bold;
    font-size: 16pt;
    width: 120px;
    height: 30px;
}

.grey {
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 16pt;
    width: 120px;
    height: 30px;
}

.btn {
    padding: 10px;
}

p {
    color: black;
    padding: 20px 0;
}

h2 {
    color: black;
}

.note {
    margin-top:1.5rem;
    background: #f5f4f4;
    color:#111111;
    padding:5px;
    border-radius:5px;
}