.frame-title{
    display: grid;
    grid-template-columns: 357px 5% 17% 15% 1fr;
    margin-top:20px;
    font-size: 12px;
}

.frame-contain{
    margin-top:10px;
    background: #ffffff;
    box-shadow: 2px 2px 4px #c9c9c9;
    border: 1px solid #f5f5f5;
}
.w__edit--cetak-label {
  font-size: 11px !important;
    font-weight: bold;
    color: #a0a0a0;
}
.w--status__wrapper {
  padding-left: 15%;
}

.nm-buyer{
    padding:10px;
    border-bottom: 1px solid #dddddd;
    width: 100%;
}

.cont-buyer{
    padding: 10px;
}

.right{
    text-align: right;
}

.frame-cont{
    display: grid;
    grid-template-columns: 572px 1fr 1fr 2fr;
    color: #111111;
}

.w-wrapper__for--cetak_invoice {
  display: grid;
  grid-template-columns: 50% 50%;
}
.nm-item{
    font-size: 14px;
    display: block;
}

.nm-item-courier{
    font-size: 20px;
    display: block;
}

.sku-item{
    color:#a0a0a0;
}

.qty-item{
    text-align: center;
}

.uang-item{
    color:#fd762c;
    font-size: 14px;
    display: block;
}

.small-text{
    font-size: 11px;
    font-weight: bold;
    color:#a0a0a0;
}

.blue-text{
    font-size: 14px;
    color: #1e82fc;
    display: block;
}

.btn-order{
    background: #f5952c;
    color: #fffdfb;
    padding: 15px;
    text-align: center;
    cursor: pointer;
}

.btn-order:hover{
    background: #f4b876;
}

.cart{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.print-order{
    cursor: pointer;
    margin-left: 5px;
}

.modal-body{
    background: #f7f7f7;
    padding:10px;
    border-radius:5px;
    font-size: 12px;
}

.no-resi{
    margin-bottom:20px;
    font-size: 12px;
}

.con-resi{
    font-size: 12px;
    margin-bottom:10px;
}

.line-resi{
    display: block;
}

.c-resi{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 12px;
}

.tr-black{
    color: #000000;
}

.foot-resi{
    margin-top: 20px;
    border-top: 1px solid #dddddd;
    background: #f7f7f7;
    padding: 5px;
    text-align: right;
}

// .btn-konfirm{
//     padding: 5px;
//     color: #ffffff;
//     background: #f5660d;
//     border-radius: 5px;
//     font-size: 12px;
//     border: 1px solid #c95811;
//     margin-right: 10px;
//     cursor: pointer;
// }

// .btn-konfirm:hover{
//     background: #fa8034;
// }

// .btn-batal{
//     padding: 5px;
//     color: #3f3f3f;
//     background: #e5e5e5;
//     border-radius: 5px;
//     font-size: 12px;
//     border: 1px solid #3f3f3f;
//     margin-right: 10px;
//     cursor: pointer;
// }

// .btn-batal:hover{
//     background: #f2f0f0;
// }

.field-r{
    width: 100%;
    padding:8px;
}

.no-resi{
    margin-top:10px;
    margin-bottom:0px;
}

.m-left{
    margin-right: 10px;
}

.text-small{
    font-size: 11px;
}

.error-body{
    font-size: 15px;
    color: #f53b1a;
    text-align: center;
    margin-top:20px;
    background: #f7f7f7;
}

.success-body{
    font-size: 15px;
    color: #111111;
    text-align: center;
    margin-top:20px;
    background: #f7f7f7;
}