<div class="frame-title">
	<div>
		Produk
	</div>
	<div>
		Qty
	</div>
	<div>
		Jumlah uang diterima
	</div>
	<div>
		Status
	</div>
	<div>
		Jasa Pengiriman
	</div>
</div>
<div class="frame-contain" *ngFor="let item of listCart">
	<div class="nm-buyer">
			<div class="row">
				<div class="col-6">
					{{item.namaPenerima}}
				</div>
				<div class="col-6 right">
					No Pesanan : {{item.invoiceNumber}}
				</div>
			</div>
		</div>
	<div class="cont-buyer">
		<div class="frame-cont">
			<div>
				<div class="cart" *ngFor="let itemChild of item.cartItems">
					<div>
						<img src="{{itemChild.imageUrl}}" border="0" width="100">
					</div>
					<div>
						<span class="nm-item">{{itemChild.name}}</span>
						<span class="sku-item">[{{itemChild.sku}}]</span>
					</div>
					<div class="qty-item">
							x{{itemChild.quantity}}
          </div>
          <div>
              <span class="uang-item">{{itemChild.subtotal  | currency:'Rp ' }}</span>
              <span class="small-text"> {{ item.paymentMethod }}</span>
            </div>
        </div>
        <div class="w-wrapper__for--cetak_invoice">
            <div>

              </div>
              <div>
                  <div class="btn-order" (click)="goToInvoice(item.orderNumber)">
                      Cetak Invoice
                    </div>
              </div>
        </div>


			</div>
			<!-- <div>
				<span class="uang-item">{{item.subTotal  | currency:'Rp ' }}</span>
				<span class="small-text"> {{ item.paymentMethod }}</span>
			</div> -->
			<div class="w--status__wrapper">
				<span class="blue-text">{{item.statusOrderSeller}}</span>
				<span class="small-text">{{item.statusPlaceHolderOrderSeller}}</span>
			</div>
			<div>
				<span class="nm-item-courier">{{item.courierCode}} </span>
        <span class="nm-item-courier w__edit--cetak-label"> <span class="print-order"><a [routerLink]="['/print-order/']" target="_blank"><img src="assets/img/printer.png" border="0" width="20"></a> </span> Cetak Label Pengiriman </span>

			</div>
			<div>
        <span> Biaya Kirim : {{ item.courierPrice | currency:'Rp ' }}  </span>
				<div class="btn-order" (click)="btnResi = !btnResi"> 
					Input No Resi
        </div>

			</div>
		</div>
	</div>
</div>


<app-models [(visible)]="btnResi" class="frameDialog">
	<div class="no-resi tr-black">No Pesanan: #65464646</div>
	<div class="con-resi">Masukan No. Resi anda untuk melakukan pelacakan pada paket yang anda kirimkan. 
		Pesanan akan berubah status menjadi "Sedang Dikirim" jika Pihak Pengiriman sudah memverifikasi pengiriman anda.</div>
	<div class="modal-body">
  
		<span class="line-resi">Alamat Pengiriman</span>
		<span class="line-resi tr-black">Mr Samuel</span>
		<span class="line-resi tr-black">KOTA BOGOR ALAMAT</span>

		<div class="c-resi">
			<div>Shipment Method</div>
			<div>Estimated Shipping Fee</div>
			<div>Actual Shipping Fee*</div>

			<div class="tr-black">JNE REGULAR</div>
			<div class="tr-black">Rp.20.000</div>
			<div><input type="text"></div>
		</div>
	</div>

	<div class="foot-resi">
		<span class="btn-konfirm">Konfirmasi</span>
		<span class="btn-batal">Batal</span>
	</div>

  </app-models>
