<div class="frame-title">
	<div>
		Produk
	</div>
	<div>
		Qty
	</div>
	<div>
		Jumlah uang diterima
	</div>
	<div>
		Status
	</div>
	<div>
		Jasa Pengiriman
	</div>
</div>
<div class="frame-contain" *ngFor="let item of listCart">
	<div class="nm-buyer">
			<div class="row">
        <div *ngIf="item.countdown === undefined; else login">
            <div class="col-6">
                {{item.namaPenerima}}
              </div>
              <div class="col-6 right">
                No Pesanan : {{item.invoiceNumber}}
              </div>
            </div>

            <ng-template #login>
                <div class="col-4">
                    {{item.namaPenerima}}
                  </div>
                  <div class="col-4" *ngIf="item.countdown">
                    <!-- Batas Waktu Respon:  {{item.expiredSellerProcessDate}} -->
                    Batas Waktu Respon: {{item.countdown.days}}d - {{item.countdown.hours}}h - {{item.countdown.minutes}}m - {{item.countdown.seconds}}s
                    <!-- {{item.expiredSellerProcessDate.days}}d - {{item.expiredSellerProcessDate.hours}}h - {{item.expiredSellerProcessDate.minutes}}m - {{item.expiredSellerProcessDate.seconds}}s -->
                    </div>
                  <div class="col-4 right">
                    No Pesanan : {{item.invoiceNumber}}
                  </div>
            </ng-template>


        </div>

		</div>
	<div class="cont-buyer">
		<div class="frame-cont">
			<div>
				<div class="cart" *ngFor="let itemChild of item.cartItems">
					<div>
						<img src="{{ thumborUrl + 'unsafe/fit-in/100x100/filters:fill(fff)/' + itemChild.imageUrl}}" border="0">
					</div>
					<div>
						<span class="nm-item">{{itemChild.name}}</span>
						<span class="sku-item">[{{itemChild.sku}}]</span>
					</div>
					<div class="qty-item">
							x{{itemChild.quantity}}
			</div>
			<div>
				<span class="uang-item">{{itemChild.subtotal  | currency:'Rp ' }}</span>
				<span class="small-text"> {{ item.paymentMethod }}</span>
            </div>
        </div>
        <div class="w-wrapper__for--cetak_invoice">
            <div>

			</div>
			<div>
				<div class="btn-order" (click)="goToInvoice(item.orderNumber)">
					Cetak Invoice
				</div>
			</div>
        </div>


			</div>
			<!-- <div>
				<span class="uang-item">{{item.subTotal  | currency:'Rp ' }}</span>
				<span class="small-text"> {{ item.paymentMethod }}</span>
			</div> -->
			<div class="w--status__wrapper">
				<span class="blue-text">{{item.statusOrderSeller}}</span>
				<span class="small-text">{{item.statusPlaceHolderOrderSeller}}</span>
			</div>
			<div>
				<span class="nm-item-courier">{{item.noResi}} ({{item.courierCode}})</span>
        <span class="nm-item-courier w__edit--cetak-label" (click)="gotoCetakLabelPengiriman(item.orderNumber)"><img src="assets/img/printer.png" border="0" width="20"> <span class="print-order"></span> Cetak Label Pengiriman </span>

			</div>
			<div>
        		<span> Biaya Kirim : {{ item.courierPrice | currency:'Rp ' }}  </span>
				<div class="btn-order" (click)="btnResi = !btnResi" (click)="getOrderNumber(item.orderNumber)">
					{{ (item.noResi !== '') ? 'Lihat No Resi' : 'Input No Resi' }}
        		</div>
			</div>
		</div>
	</div>
</div>
<div class="paging" *ngIf="a!=0">
	<ul>
		<li>
			<a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
		</li>
		<li *ngFor="let p of pages">
			<a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
		</li>
		<li>
			<a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
		</li>
	</ul>
</div>

<app-models [(visible)]="btnResi" class="frameDialog">
	<div *ngIf="isErrorResi == true">
		<div class="error-body">
			Maaf nomor resi yang Anda masukan tidak terdaftar<br> atau sudah tidak berlaku.
		</div>
	</div>
	<div *ngIf="isForm==true">
		<div class="no-resi tr-black">No Pesanan: #{{info.paymentNumber}}</div>
		<div class="con-resi">Masukan No. Resi anda untuk melakukan pelacakan pada paket yang anda kirimkan.
			Pesanan akan berubah status menjadi "Sedang Dikirim" jika Pihak Pengiriman sudah memverifikasi pengiriman anda.</div>
		<form class="ui form" [formGroup]="createComForm" (ngSubmit)="onSubmit()" novalidate>
			<input class="field-r" type="hidden" formControlName="orderNumber">
			<div class="modal-body">
				{{orderNumber}}
				<span class="line-resi">Alamat Pengiriman</span>
				<span class="line-resi tr-black">{{info.namaPenerima}}</span>
				<span class="line-resi tr-black">{{info.alamatPenerima}}.</span>

				<div class="c-resi">
					<div>Shipment Method</div>
					<div>Estimated Shipping Fee</div>
					<div>Actual Shipping Fee*</div>

					<div class="tr-black">{{ info.courierCode }}</div>
					<div class="tr-black">{{ info.courierPrice | currency:'Rp ' }}</div>
					<div><input class="field-r" type="text" formControlName="actualCourierPrice"><br>
						<span class="text-small">*Biaya pengiriman yang dikeluarkan.</span>
					</div>
				</div>

				<div class="no-resi">No. Resi</div>
				<div>
				<input class="field-r" type="text" formControlName="noResi" placeholder="Masukan nomor resi">
				<div *ngIf="(submitted === true || form.noResi.touched) && form.noResi.invalid">
					<bss-field-error [displayError]="form.noResi.errors.required" errorMsg="Silahkan masukan no resi"></bss-field-error>
				</div>
				</div>
			</div>

			<div class="foot-resi">

				<input type="button" (click)="prosesResi()" *ngIf="info.noResi === ''"
					class="btn btn--orange m-left" value="Konfirmasi">
				<input type="button" (click)="close()" class="btn btn--silver txt-batal" value="Batal">
			</div>
		</form>
	</div>
	<div *ngIf="isProsesResi==true">
		<div class="success-body">
			Proses kirim Resi berhasil
		</div>
	</div>

</app-models>
