<div class="tab-container">
  <div class="tabWrapper">
    <div [ngClass]="(tabPage=='ActiveEvent')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('ActiveEvent', tabPage)">
      Active Event
    </div>
    <div [ngClass]="(tabPage=='MyEvent')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('MyEvent', tabPage)">
      My Event
    </div>
  </div>
</div>
<div class="frame-menu-contain">
  <div class="wrapper-top">
    <bss-event-active *ngIf="tabPage=='ActiveEvent'"></bss-event-active>
    <bss-event-my *ngIf="tabPage=='MyEvent'"></bss-event-my>
  </div>
</div>