<div class="containPage has-header">
  <div class="row">
      <div *ngIf="msg === undefined" class="col-12">
          <div class="title-page center">Buat Password Baru</div>
          <div>
              <form class="ui form" [formGroup]="rstForm" (ngSubmit)="onSubmit(fs)" #fs="ngForm"  novalidate>
                  <div class="form-group">
                      <input type="password" class="input-style-text-100" placeholder="Password Baru" formControlName="password" required [ngClass]="{
                          'has-danger': rstForm.controls.password.invalid && (rstForm.controls.password.dirty),
                          'has-success': rstForm.controls.password.valid && (rstForm.controls.password.dirty)
                          }">
                          <div class="form-control-feedback" *ngIf="rstForm.controls.password.errors && (rstForm.controls.password.dirty || rstForm.controls.password.touched)" class="alert alert-danger toll tooltip-for-password testing">
                              <p *ngIf="rstForm.controls.password.errors.required" class="tooltiptext">Password Harus Diisi</p>
                              <p *ngIf="rstForm.controls.password.errors?.minlength" class="tooltiptext">Password minimal 7 karakter</p>
                          </div>
                          <!-- <p *ngIf="rstForm.controls.password.errors?.minlength" class="tooltiptext">Password must be 7 characters long. </p> -->
                      <!-- <div class="validasi" *ngIf="rstForm.password.errors && rstForm.password.dirty">
                          <p>Password minimal 7 character</p>
                      </div> -->
                  </div>
                  <div>
                      <input type="password" formControlName="confirmPassword" placeholder="Ketik Ulang Password Baru" class="input-style-text-100" required>
                      <div class="form-control-feedback" *ngIf="rstForm.controls.confirmPassword.errors && (rstForm.controls.confirmPassword.dirty || rstForm.controls.confirmPassword.touched)"  class="alert alert-danger toll tooltip-for-password">
                          <!-- <div class="testing-with-margin"> -->
                              <!-- <p *ngIf="rstForm.controls.confirmPassword.errors.required" class="tooltiptext">Password is required</p> -->
                          <p *ngIf="rstForm.controls.confirmPassword.errors.mismatch" class="tooltiptext testing-with-margin">Password Harus Sama !</p>
                          <!-- </div> -->
                      </div>
                  </div>
                  <!-- <div class="form-group">
                      <input type="password" class="input-style-text-100" placeholder="Ulangi Password" formControlName="confirmPassword" required [ngClass]="{
                          'has-danger': rstForm.controls.confirmPassword.invalid && (rstForm.controls.confirmPassword.dirty && rstForm.controls.confirmPassword.touched),
                          'has-success': rstForm.controls.confirmPassword.valid && (rstForm.controls.confirmPassword.dirty && rstForm.controls.confirmPassword.touched)
                          }">
                          <div *ngIf="rstForm.controls.confirmPassword.dirty && rstForm.errors && rstForm.errors.mismatch" class="alert alert-danger toll tooltip testing">
                              <span class="tooltiptext">Password tidak sama</span>
                          </div>
                  </div> -->
                  <div class="submitBtn">
                      <div class="component-center">
                          <button type="submit" [disabled]="rstForm.invalid" class="btn btn--orange btn btn-size-80 text-btn component-center">SET PASSWORD BARU</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
      <div *ngIf="msg !== undefined" [ngClass]="{'alert-error':!success}">
        <p>{{msg}}</p>
      </div>
  </div>
</div>
