.title-sidebar{
    font-size: 30px;
}

.btn-jualan{
    font-size: 30px;
    border: 1px solid #f68a43;padding:10px;
    width:200px;
    color: #f68a43;
    border-radius:8px;
    text-align: center;
    cursor: pointer;
    margin-bottom:10px;
}
.sidebar-to-cursor {
    cursor: pointer;
    color:#37aeee;
}

.sidebar-to-cursor:hover {
    cursor: pointer;
    color:#95d3f4;
}