.title-sidebar-seller {
    font-size: 30px;
    text-align: center;
    display: block;
}
.border-sidebar-seller {
    border: 1px solid #eee;
    margin-top:10px;
}
.dummy-backgorund {
    //background-color: #eee;
    // width: 300px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-left: 4px solid #fff;
    font-size: 14pt;
    font-weight: 100;

    &_active{
        .dummy-backgorund {
            margin: 5px;
            padding: 5px;
            cursor: pointer;
            background-color: #ffebd6;
            border-left: 4px solid #f8992e;
            font-size: 14pt;
            font-weight: 100;
        }
    }
}

.dummy-backgorund:hover {
    background-color: #ffcf9a;
    border-left: 4px solid #f8992e;
}

// .dummy-backgorund p {
//     display: inline;
//     margin-top: -2px;
//     vertical-align: middle;
// }

.profile-toko-text {
    color: black !important;
    text-transform: capitalize;
}

.img-small-store-for-sidebar {
    width: 40px;
    padding-left: 11px;
    padding-right: 3px;
    vertical-align:text-bottom;
    margin-right: 10px;
}
.right-pull {
    text-align: right;
    position: absolute;
    right: 78%;
    top: 31.5%;
}