.box-top {

}
.border-store-seller {
    // text-align: center;
    border: 1px solid #fee6be;
    background-color: #fee6be;

}
.text-store-top {
    display: block;
    text-align: center;
}
.text-store-top1 {
    display: block;
    padding-left: 3%;
    font-size: 14px;
}
.heading-padding {
    margin: 10px;
}