<div class="frame-event">
  <div>
      <div class="frame-event__date">
      April<br><span class="frame-event__valDate">15</span>
      </div>
      <div class="frame-event__until-date">
      15 april - 20 april
      </div>
  </div>
  <div class="frame-event__contain">
      <div class="frame-event__title">Samsung</div>
      <div>Samsung Group merupakan salah satu perusahaan elektronik terbesar di dunia. Didirikan oleh Lee Byung-chull pada tanggal 1 Maret 1938 di Daegu, Korea Selatan, perusahaan ini beroperasi di 58 negara dan memiliki lebih dari 208.000 pekerja.</div>
  </div>
</div>

<div class="frame-join">
  <div class="frame-join__head">
      <div class="frame-join__head__title">Samsung s10</div>
  </div>

  <div class="frame-join__val">
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>

      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
  </div>

  <div class="frame-join__head">
      <div class="frame-join__head__title">Samsung s20</div>
  </div>

  <div class="frame-join__val">
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>

      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
      <div class="frame-join__line">
          <input type="checkbox" id="scales" name="scales"> Black 4/64 | Stok: 16 | Rp.10.000.000
      </div>
  </div>

  <div class="frame-join__border-btn">
      <span class="frame-join__border-btn__back" (click)="backEvent()">Kembali</span> <span class="frame-join__border-btn__submit">Submit</span>
  </div>
</div>