<div class="frame-menu">
    <div [ngClass]="(tabOrder=='Y')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('Y')">
        Produk Aktif
    </div>
    <div [ngClass]="(tabOrder=='N')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('N')">
        Stok Habis
    </div>
    <div [ngClass]="(tabOrder=='nonaktif')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('nonaktif')">
        Produk Non Aktif
    </div>
    <div [ngClass]="(tabOrder=='Y')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('Y')">
        Semua
    </div>
</div>
<div class="frame-menu-contain">
    <bss-listing-product-manage></bss-listing-product-manage>
    <div class="frame-dis-contain" *ngIf="a === 0">
        <div class="verticalMiddle">
            <div class="noDiscussion">
                <img src="assets/img/nodiscussion.JPG" height="200">
                <div class="noDiscussionLabel">Anda Belum Memiliki Produk</div>
            </div>
        </div>
    </div>
</div>