<div class="frame-menu">
    <div [ngClass]="(active=='true' && tabs=='active')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('AP', '', 'true' , 'active')">
        Produk Aktif
    </div>
    <div [ngClass]="(tabOrder=='N' && tabs=='habis')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('AP', 'N' , '', 'habis')">
        Stok Habis
    </div>
    <!-- <div [ngClass]="(active=='false' && tabs=='non')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('AP', '', 'false' , 'non')">
        Produk Non Aktif
    </div> -->
    <div [ngClass]="(status=='AP' && tabs=='all')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('AP' , '', '', 'all')">
        Semua
    </div>
</div>
<div class="frame-menu-contain">
    <bss-listing-product-manage></bss-listing-product-manage>
    <div class="frame-dis-contain" *ngIf="a === 0">
        <div class="verticalMiddle">
            <div class="noDiscussion">
                <img src="assets/img/nodiscussion.JPG" height="200">
                <div class="noDiscussionLabel">Anda Belum Memiliki Produk</div>
            </div>
        </div>
    </div>
</div>