a {
    text-decoration: none;
    cursor: pointer;
}
.w__myProduk {
    font-size: 20px;
    font-weight: bold;
}

.w_bor {
    height: 18rem;
    border: 3px solid #fed29d;
    margin-bottom: 3%;
    .w__text--tambah--produk {
        line-height: 7;
        font-size: 22px;
        color: #8f8f8f;
        margin-left: 3rem;
        cursor: pointer;
    }
}
.product-real-price{
  display: block;
}
.w--btn--new {
  width: 100%;
  margin-top: 30%;
}
.wrapper-w__for--listing--product {
    display: grid;
grid-template-columns: 20% 27% 54%;
grid-gap: 10px;

}

.w__bacground--border {
    background-color: #f0f0f0;
    color: #444;
    border-radius: 6px;
}
.w_col-3 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.image-box {
    height: 70px;
}


.w__margin--right {
    margin-right: 7px;
    padding: 13%;
}
.w__float--left {
    float: left;
}
.m__margin--top {
    margin-top: 20px;
}
.wrapper-X {
    grid-template-columns: 100%;
}
.w__kosongkan_stok {
    display: block;
}
.w__margin--input {
    margin-left: 5rem;
}

.wrapper__three {
    display: grid;
    grid-template-columns: 45% 26% 25%;
}
.w__margin--switch {
    margin-left: 3rem;
}

.w__middle {
    line-height: 6.7rem;
    text-align: center;
}
.wrapper__tiga {
    display: grid;
    grid-template-columns:40% 31% 29%
}
.kadal {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    .w__nmbarang {
        display: block;
    }
    .w__nmBarang {
        font-weight: bold;
        display: block;
    }
    .w__hrgaBarang {
        display: block;
        padding-top: 15px;
    }

}
.w__prodDessc {
    max-width: 300px;
    word-wrap: break-word;

}
.w__descr {
    border: 1px solid #dfdfdf;
}
.row {
    margin-bottom: 4px !important;
}


.con-image{
    // width: 481px;
    text-align: center;
    .w__display--image {
        display: block;
    }
}
.w__hargabarangFromBackEnd {
    white-space: pre-wrap;

}
.show-image-small{
    border: 1px solid #dddddd;
    margin-left:10px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
    margin-bottom:8px;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .paging li {
    display: inline-block;

  }
  .paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
  }
  .paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
  }
  .paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
  }
  .paging a.disabled {
    color: #ccc;
    cursor: default;
  }
