<div class="row">
    <!-- <div class="col-12">
        <span class="w__myProduk">Manage Produk</span>
        <a (click)="gotoAddPro()">
            <div class="w_bor">
                <div class="w_col-3"> <fa-icon [icon]="['fas', 'plus-circle']" size="7x" style="color:#5bb84f;  padding-top: 4%;" pull="right"></fa-icon>
                    <div>
                        <span class="w__text--tambah--produk">Tambah Produk Baru</span>
                    </div>
                </div>
            </div>
        </a>
    </div> -->
    <div class="col-12">
        <div class="wrapper-top">
            <div class="search__box">
                <div class="search__wrapper">
                    <input type="text" [(ngModel)]="keywordSearch" class="search__input" (keyup.enter)="onSearchSubmit()" (keyup)="searchProductName($event)"
                    (focus)="showSearch = true" (focusout)="onSearchFocusOut()" placeholder="Pencarian Produk">
                    <fa-icon (click)="onSearchSubmit()" class="search__icon" [icon]="['fas', 'search']"></fa-icon>
                </div>
            </div>
            <div type="submit" (click)="gotoAddPro()" class="btn btn-addProduct"><fa-icon class="iconPlus" [icon]="['fas', 'plus-circle']" style="font-size: 25px; vertical-align: middle; margin-right: 7px;"></fa-icon>Tambah Produk Baru</div>
        </div>
        <!-- <div class="drick-select-container drick-select-container--fluid">
            <div class="ui icon input parent">
                <input class="f-control drick-select__text" [(ngModel)]="name" [ngClass]="{'active':onProductNameFocus}" type="text"
                (keyup)="searchProductName($event)" maxlength="160" placeholder="Nama Produk">
            </div>
        </div> -->
    </div>
    <div class="tableHeader">
        <div>Nama Produk</div>
        <div>Variasi</div>
        <div>Harga Promosi</div>
        <div>Stok</div>
        <div>Penjualan</div>
        <div>Action</div>
    </div>
    <div class="col-12" *ngFor="let item of proddetail.data" [ngClass]="{'active':onProductNameFocus}">
        <div class="row tableContent">
            <div class="col-3 pull-left">
                <div class="verticalMiddle">
                    <div class="verticalMiddleInside pull-left">
                        <img class="thumbnail" [src]="prodImg + item.imageUrl">
                    </div>
                    <div class="descProd verticalMiddleInside">
                        <p>{{ item.name }}</p>
                    </div>
                </div>
            </div>
            <div class="col-7 verticalMiddle sub">
                <div class="verticalMiddleInside" [ngClass]="{'itemCartScroll': item.products.length>4}">
                    <div class="tableDetail" *ngFor="let detail of item.products">
                        <div class="subColumn"><span *ngFor="let variant of detail.variants; let i = index">{{variant}}{{(i === (detail.variants.length - 1) ? '' : ' - ')}}</span></div>
                        <!-- <div class="subColumn">{{detail.normalPrice | currency:'Rp ':'symbol':'1.0'}}</div> -->
                        <div class="subColumn">{{detail.specialPrice | currency:'Rp ':'symbol':'1.0'}}</div>
                        <div class="subColumn">{{detail.qty}}</div>
                        <div class="subColumn">{{detail.sold}}</div>
                    </div>
                </div>
            </div>
            <div class="col-2 pull-right">
                <div class="verticalMiddleInside cursor-pointer">
                    <button (click)="goToEdit(item.products[0].productId)" class="btn btnWhiteBorder">Edit</button>
                    <!-- <span class="w__kosongkan_stok">Visibility</span>
                    <div>
                        <label class="switch small w__margin--switch">
                            <input type="checkbox" (click)="bSlider(item.productId, true)" [checked]=true>
                            <span class="slider round"></span>
                        </label>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="row w__background--border">
            <div class="col-3" >
                <p class="w__float--left">
                <img class="w__margin--right" [src]="prodImg + item.imageUrl"></p>
                <div>
                    <div class="w__middle">{{ item.name }}</div>
                </div>
            </div>
            <div class="col-5" >
                <div class="wrapper__three">
                    <div>
                        <div>
                            <span *ngIf="item.status === 'REJECTED' && item.isactive !== false" class="w__middle" style="color:red;">Status :  {{ item.status }}</span>
                            <span *ngIf="item.isactive === false" class="w__middle">Status : HIDDEN</span>
                        </div>
                        <div>
                            <span *ngIf="item.status === 'APPROVED' && item.isactive !== false" class="w__middle" style="color:green;">Status :  {{ item.status }}</span>
                        </div>
                        <div>
                            <span *ngIf="item.status === 'NEED APPROVAL' && item.isactive !== false" class="w__middle">Status :  {{ item.status }}</span>
                        </div>
                        <div>
                            <span *ngIf="item.status === 'REVISE' && item.isactive !== false" class="w__middle">Status :  {{ item.status }}</span>
                        </div>
                    </div>
                    <div class="w__middle">
                        <div>
                            <div *ngIf="item.status === 'REJECTED'"></div>
                            <div *ngIf="item.status === 'APPROVED'">
                                <span class="w__middle" style="color:green;" [ngClass]="{'color-red': (item.qty === 0)}">Stock :  {{ item.qty }}</span>
                            </div>
                            <div *ngIf="item.status === 'NEED APPROVAL'"></div>
                        </div>
                    </div>
                    <div class="w__middle">
                        <div>
                            <div *ngIf="item.status === 'REJECTED'">
                                <span class="w__middle" style="color:red;">Status :  {{ item.status }}</span> 
                            </div>
                            <div *ngIf="item.status === 'APPROVED'">
                                <span class="w__middle" style="color:green;">Terjual :  {{ item.sold }}</span>
                            </div>
                            <div *ngIf="item.status === 'NEED APPROVAL'">
                                <span class="w__middle">Status :  {{ item.status }}</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="pull-right">
                    <div class="w__middle">
                        <div *ngIf="item.status !== 'REJECTED'">
                            <span class="w__kosongkan_stok">Kosongkan Stock</span>
                            <input [checked]=false class="w__margin--input" type="checkbox" (change)="onChange(item.productId, $event.target.checked)">
                        </div>
                    </div>
                    <div class="w__middle">
                        <div *ngIf="item.status !== 'REJECTED'">
                            <span class="w__kosongkan_stok">Visibility</span>
                            <div *ngIf="item.isactive === true; else login">
                                <label class="switch small w__margin--switch">
                                    <input type="checkbox" (click)="bSlider(item.productId, true)" [checked]=true>
                                    <span class="slider round"></span>
                                </label>
                            </div>
                            <ng-template #login>
                                <label class="switch small w__margin--switch">
                                    <input
                                        type="checkbox" (click)="bSlider(item.productId, false)" [checked]=false>
                                    <span class="slider round"></span>
                                </label>
                            </ng-template>
                        </div>
                    </div>
                    <div class="w__middle">
                        <div class="cursor-pointer" (click)="openCloseRow(item.productId)">
                            <button class="btn ">Edit</button>
                            <fa-icon class="displayInline" [icon]="['fas', 'search']"></fa-icon>
                            <span class="w__kosongkan_stok displayInline" > 
                                Edit
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="row" *ngIf="rowSelected==item.productId">
            <div class="col-3">
                <div class="con-image">
                    <img class="w__display--image" src="{{imgIndex}}"  height="200">
                    <span class="show-image-small" *ngFor="let item of productDetail.imageUrl" (click)="selectImg(item)"><img src='{{item}}' height="50"></span>
                </div>
            </div>
            <div class="col-8">
                <div class="wrapper--body">
                    <div>
                        <span class="w__nmbarang">Nama Barang</span>
                        <span class="w__nmBarang">{{ productDetail.name }}</span>
                        <span class="w__hrgaBarang">Harga Barang</span>
                        <div *ngIf="productDetail.specialPrice > 0">
                            <span class="product-real-price">{{productDetail.specialPrice | currency:'Rp ':'symbol':'1.0'}}</span>
                            <span class="product-discont"><s>{{productDetail.pricelist | currency:'Rp ':'symbol':'1.0'}}</s></span>
                        </div>
                        <div *ngIf="productDetail.specialPrice === 0">
                            <span class="product-real-price">{{productDetail.pricelist | currency:'Rp ':'symbol':'1.0'}}</span>
                        </div>
                        <span class="w__hrgaBarang">Stock Barang</span>
                        <span class="w__nmBarang">{{ productDetail.qty }}</span>
                    </div>
                    <div>
                        <span class="w__nmbarang">Kategori</span>
                        <span class="w__nmBarang">{{ (productDetail.categoryThreeId !== 0) ? productDetail.categoryThreeName : productDetail.categoryTwoName }}</span>
                        <span class="w__hrgaBarang">Spesifikasi</span>
                        <span class="w__nmBarang" *ngFor="let item of productDetail.specification">
                            - {{item.name}} : {{ item.value }}
                        </span>
                    </div>
                    <div>
                        <span class="w__nmbarang">Jenis Garansi</span>
                        <span class="w__nmBarang">{{ productDetail.guaranteeTypeValue }}</span>
                        <span class="w__nmbarang">Garansi</span>
                        <span class="w__nmBarang">{{ productDetail.guaranteeTimeValue }}</span>
                        <span class="w__hrgaBarang">Berat Barang</span>
                        <span class="w__nmBarang">{{ productDetail.weight }} g</span>
                        <span class="w__hrgaBarang">Jasa Pengiriman</span>
                        <span class="w__nmBarang" *ngFor="let item of productDetail.couriers">{{ item.code }}</span>
                    </div>
                </div>
                    <button *ngIf="item.status !== 'REJECTED'" (click)="goToEdit(item.productId)" class="btn btn--yellow w--btn--new">EDIT </button>
            </div>
        </div>
    </div>
    <div class="paging" *ngIf="a!=0">
        <ul>
            <li>
                <a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
            </li>
            <li *ngFor="let p of pages">
                <a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
            </li>
            <li>
                <a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
            </li>
            <li>
                <a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
            </li>
        </ul>
    </div>
</div>