<div class="tab-container">
  <div class="tabWrapper">
    <div [ngClass]="(tabOrder=='MyIncome')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('MyIncome', tabOrder)">
      My Income
    </div>
    <div [ngClass]="(tabOrder=='IncomeHistory')?'btn-tab__active':'btn-tab__noActive'" (click)="tab('IncomeHistory', tabOrder)">
      Income History
    </div>
  </div>
</div>
<div class="frame-menu-contain">
  <div class="wrapper-top">
    <bss-my-income *ngIf="tabOrder=='MyIncome'"></bss-my-income>
    <bss-income-history *ngIf="tabOrder=='IncomeHistory'"></bss-income-history>
  </div>
</div>