.text-center {
    text-align: center;
}

.text-display__block {
    display: block;
}

.text-bold { 
    font-weight: bold;
}

.text-collor__black {
    color: black;
}

.text__header--title {
    font-size: 3rem;
    color: black;
    display: block;
}
.wrapper--income-seler {
    padding: 3rem;
}
.background__header--title {
    background: #ECECEC;
    border: 1px solid #D8D8D8;
    padding: 1.2rem;
   
    .text--background__header--title {
        font-size: 2rem;
        color: black;
        
    }
}

.header--datetimepicker {
    padding-top: 10px;
    
    .wrapper__header--datetimepicker{
        border: 1px solid;
        padding-left: 5px;
        padding-top: 6px;
        .btn--wrapper {
            margin: 19px;
            margin-left: 13%;
        }
        .btn--orange {
            background: #F57B2A;
            color: white;
            width: 100%;  
        }
        .btn--peach {
            background: #DDB42E;
            color: white;
            width: 100%;
        } 
        .btn--green {
            background: #067E5B;
            color: white;
            width: 100%;
        }

        .btn--disabled {
            background: #dddddd;
            color: white;
            width: 100%;
        }

        .text--saldo {
            text-align: center;
            display: block;
        }
    }
}

.wrapper--body {
    margin-top: 10px;
    .four-grid {
        display: grid;
        grid-template-columns: 10% 40% 30% 20%;
        padding: 1em;
    }
}

.paging {
    margin: 0 auto;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  .paging li {
    display: inline-block;

  }
  .paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
  }
  .paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
  }
  .paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
  }
  .paging a.disabled {
    color: #ccc;
    cursor: default;
  }
