<div class="containPage has-header">
  <div class="row">
      <div class="col-6">
        <div class="title-page">Lupa Password</div>

        <div *ngIf="msg !== undefined" class="validasi-forgot-password">
          <p>{{msg}}</p>
        </div>

        <div *ngIf="!success">
          <form class="ui form" [formGroup]="fogotFormGroup" (ngSubmit)="onSubmit()" novalidate>
            <div class="form-group">
              <!-- <input type="email" class="input-style-text-90" placeholder="Email" [formControl]="email" required> -->
              <input type="email" class="input-style-text-90" placeholder="Email" formControlName="email" (input)="onSearchChange($event.target.value)" email name="email" required [ngClass]="{
                              'has-danger': (fogotFormGroup.controls.email.invalid || status !== 1) && (fogotFormGroup.controls.email.dirty),
                              'has-danger': emailInvalid == 1,
                              'has-success': fogotFormGroup.controls.email.valid && (fogotFormGroup.controls.email.dirty && fogotFormGroup.controls.email.touched) && emailInvalid !=1
                              
                              }">
                          
                          <div *ngIf="fogotFormGroup.controls.email.invalid && (fogotFormGroup.controls.email.dirty && fogotFormGroup.controls.email.touched)" class="alert alert-danger toll tooltip testing">
                              <span class="tooltiptext">Harap masukan format email dengan benar</span>
                          </div>    

                          <div *ngIf="status !== 1">
                              <div #b *ngIf="fogotFormGroup.controls.email.dirty && fogotFormGroup.controls.email.valid" class="alert alert-danger toll tooltip">
                                  <fa-icon class="errspan" [icon]="['fas', 'ban']"></fa-icon>
                                  <div class="testing">
                                      <span class="tooltiptext">Email tidak terdaftar</span>
                                  </div>
                              </div>
                          </div>
              <!-- <div class="validasi-forgot-password" *ngIf="email.errors && email.dirty">
                <p *ngIf="email.errors.required">Email tidak boleh kosong</p>
                <p *ngIf="email.errors.pattern">Format email tidak valid</p>
              </div> -->
            </div>
            <div class="text-registration">Belum Punya Akun? <a routerLink="/account/sign-up" class="link-text">
              REGISTRASI</a> Disini<br>Ingin Login? <a [routerLink]="['/auth/sign-in']" class="link-text">Klik</a> Disini
            </div>
            <!-- <div class="component-center"><button type="submit" class="btn btn--orange btn-size-80 text-btn component-center" [disabled]="!email.valid">KIRIM</button></div> -->
            <div class="border-btn">
              <div class="component-center"><button type="submit" [disabled]="fogotFormGroup.invalid || status !== 1" class="btn btn--orange btn btn-size-55 text-btn component-center">KIRIM</button></div>
            </div>	
          </form>         
        </div>
        <div *ngIf="success">Silakan cek email Anda ( <b>{{email}}</b> ) untuk melanjutkan ke tahap selanjutnya.</div>

      </div>
  </div>
</div>