.titlePage {
    margin-top: 20px;
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: #0c4d99;
        text-align: center;
    }
}

.border-btn {
    width: 100%;
}

.successMessage {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 20px 0;
    .iconSuccess{
        display: block;
        color: #52af52;
        font-size: 30px;
        text-align: center;
        margin-top: -13px;
    }
    .emailText{
        color: #0c4d99;
        font-size: 20px;
        display: block;
        font-weight: bold;
        text-align: center;
    }
    p {
        text-align: center;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
}

.backToLogin {
    margin-top: 20px;
    border-radius: 35px;
    margin: 20px auto 0;
    display: block;
    width: 50%;
    font-size: 20px;
}
