.title-dis{
    background: #f0f0f0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 2px 2px 4px #c9c9c9;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    cursor: pointer;
    margin-top:10px;
}

.i{
    display: grid;
    grid-template-columns: repeat(2, 100px 600px);
    margin-bottom:20px;
}

.iImg{
    height:60px;
}

.imgUser {
    border-radius: 50%;
}

.iCon{

}

.question-dis{
    margin-bottom:10px;
    font-size: 12px;
}

.contain-dis{
    margin-top:5px;
    background: #ffffff;
    padding: 8px;
    margin-bottom:20px;
}

.text-area{
    width: 100%;
    height: 100px;
}

.m-left{
    margin-right: 8px;
}

.btn-dis{
    margin-top:10px;
}

.txt-batal{
    color:#000000;
}

.paging{
    margin-top:20px;
    margin-bottom:20px;
}

.paging ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.paging li {
    display: inline-block;
}
.paging a {
    border: 1px solid #ebeef2;
    padding: 3px 10px;
    margin: 0 3px;
    border-radius: 5px;
}
.paging a.current-page {
    border: 1px solid #cde;
    background: #def;
    color: #999;
    cursor: default;
}
.paging a:not(.disabled):not(.current-page):hover {
    color: #abc;
    cursor: pointer;
    border-color: #cde;
}
.paging a.disabled {
    color: #ccc;
    cursor: default;
}

.frame-dis-contain{
    background: #f7f7f7;
    margin-top:10px;
    padding:10px;
    margin:0px auto;
    margin-top:10px;
}