<div class="frame-dis-contain">
    <div *ngFor="let item of list; let in = index">
    <div class="title-dis" (click)="openOS(openDetail, item.productId, item.discusId)">

            <img src="{{item.productImage}}" width="100">
    
            {{item.productName}}
    
    </div>
    <div class="contain-dis" *ngIf="openDetail==true && discusId==item.discusId">
        <div class="question-dis" *ngFor="let itemChild of listChild">
        <div class="i">
            <div class="iImg">
                <img src="{{itemChild.imageAvatarUrl}}" width="100"> 
            </div>
            <div class="iCon">
                <p><label>{{itemChild.name}}</label></p>
                {{itemChild.message}}
            </div>
        </div>
        <div class="i" *ngFor="let itemChilds of itemChild.childs">
            <div class="iImg">
                <img src="{{itemChilds.imageAvatarUrl}}" width="100"> 
            </div>
            <div class="iCon">
                <p><label>{{itemChilds.name}}</label></p>
                {{itemChilds.message}}
            </div>
        </div>
        </div>
    
        <form class="ui form" [formGroup]="inputFormGroup[item.productId]" (ngSubmit)="onSubmit(item.productId)" novalidate>
            <input type="hidden" formControlName="discusParentId">
            <input type="hidden" formControlName="productId">
            <textarea class="text-area" formControlName="message"></textarea>
            <div class="btn-dis">
            <button type="submit" class="btn btn--orange m-left">Kirim</button>
            <input type="button" (click)="openOS(openDetail, item.productId, item.discusId)" class="btn btn--silver txt-batal" value="Batal">
            </div>
        </form>
    </div>
    </div>
</div>{{page}}
<div class="paging" *ngIf="a!=0">
	<ul>
		<li>
			<a (click)="setPage(1)" [ngClass]="{disabled:currentPage == 1}">First</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, -1)" [ngClass]="{disabled:(currentPage-1) < 1}">Previous</a>
		</li>
		<li *ngFor="let p of pages">
			<a (click)="setPage(p)" [ngClass]="currentPage == p?'current-page':''">{{p}}</a>
		</li>
		<li>
			<a (click)="setPage(currentPage, +1)" [ngClass]="{disabled:currentPage == lastPage}">Next</a>
		</li>
		<li>
			<a (click)="setPage(lastPage)" [ngClass]="{disabled:currentPage == lastPage}">Last</a>
		</li>
	</ul>
</div>

