.title-dis{
    background: #f0f0f0;
    padding: 8px;
    font-weight: bold;
    box-shadow: 2px 2px 4px #c9c9c9;
    display: grid;
    grid-template-columns: repeat(2, 130px);
    cursor: pointer;
    margin-top:10px;
}

.i{
    display: grid;
    grid-template-columns: repeat(2, 100px 600px);
    margin-bottom:20px;
}

.iImg{

}

.iCon{

}

.question-dis{
    margin-bottom:10px;
    font-size: 12px;
}

.contain-dis{
    margin-top:5px;
    background: #ffffff;
    padding: 8px;
    margin-bottom:20px;
}

.text-area{
    width: 100%;
    height: 100px;
}

.m-left{
    margin-right: 8px;
}

.btn-dis{
    margin-top:10px;
}

.txt-batal{
    color:#000000;
}