<div *ngFor="let item of list">
  <div class="title-dis" (click)="openOS(openDetail, item.productId, item.discusId)">

          <img src="{{item.productImage}}" width="100">
  
          {{item.productName}}
 
  </div>
  <div class="contain-dis" *ngIf="openDetail==true && discusId==item.discusId">
    <div class="question-dis" *ngFor="let itemChild of listChild">
      <div class="i">
          <div class="iImg">
              <img src="{{item.imageAvatarUrl}}" width="100"> 
          </div>
          <div class="iCon">
              <p><label>{{itemChild.name}}</label></p>
              {{itemChild.message}}
          </div>
      </div>
    </div>
    <textarea class="text-area"></textarea>
    <div class="btn-dis">
      <input type="button" (click)="prosesResi()" class="btn btn--orange m-left" value="Kirim">
      <input type="button" (click)="close()" class="btn btn--silver txt-batal" value="Batal">
    </div>
  </div>
</div>
