@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/button";
@import "components/select";
@import "components/toggle-buttons";
@import "components/checkbox";
@import "components/form";
@import "components/image";
@import "components/alert";
@import "components/formControl";
@import "components/image_uploade";
@import "components/validasi";
@import "components/input-suggestion";
@import "components/table";

@import "layout/sidebar-seller";
// @import "layout/grid";
@import "layout/header";
@import "layout/body";
@import "layout/footer";
@import "layout/sidebar-buyer";
@import "layout/top-layout-seller";

@import "pages/authentication";
@import "pages/buyer-store";
@import "pages/home";
@import "pages/signin-seller";
@import "pages/signin";
@import "pages/signup";
@import "pages/forgot-password";
@import "pages/signup-verification";
@import "pages/profile-buyer";
@import "pages/profile-seller";
@import "pages/_404";
@import "pages/modal";

@import "vendors/bootstrap4-grid/grid"