<app-header></app-header>
<div class="containPage">
    <div class="row">
        <div class="col-3"><bss-sidebar-seller></bss-sidebar-seller></div>
        <div class="col-9 zeroPaddingLeft">
            <bss-heading-seller></bss-heading-seller>
            <router-outlet></router-outlet>
            <div style="float: right; position:fixed; bottom:0; right:8rem;">
                <button data-notifications="10" style="font-size: 1.9rem; font-weight: bold; width: 20rem; border-radius:0;" class="btn btn--orange btn--lg" (click)="alertChat()">Chat</button>
                <!-- <span style="position: absolute; top: -16px; right: -12px; padding: 2.5px 7px; border-radius: 50%; background: red; color: white;">10</span> -->
            </div>
        </div>
    </div>
</div>