<app-header></app-header>
<div class="containPage">
    <div class="row">
        <div class="col-3"><bss-sidebar-seller></bss-sidebar-seller></div>
        <div class="col-9 zeroPaddingLeft">
            <bss-heading-seller></bss-heading-seller>
            <router-outlet></router-outlet>
            <!-- CHAT -->
            <!-- <div style="float: right; position:fixed; bottom:0; right:8rem;">
                <button data-notifications="10" style="font-size: 2rem; font-weight: bold; width: 15rem; border-radius:0; box-shadow: 0 15px 30px 0 #b6b6b6,0 5px 15px 0 #b6b6b6;" class="btn btn--orange btn--lg" (click)="alertChat()">Chat</button>
            </div> -->
        </div>
    </div>
</div>