<section class="search--wrapper">
    <h4 class="search--wrapper__text">
        Silahkan mencari produk yang ingin anda tambahkan
    </h4>
    <div class="">
        <div class="drick-select-container drick-select-container--fluid">
            <div class="ui icon input parent">
                <input class="f-control drick-select__text" [(ngModel)]="name" [ngClass]="{'active':onProductNameFocus}" type="text"
                    (keyup)="searchProductName($event)" (focus)="onProductNameFocus = true"
                    (focusout)="onProductNameBlur()" maxlength="160" placeholder="Nama Produk">
                <i class="drick-select__icon caret down icon"></i>
            </div>
            <div class="drick-select-container--toggle__here" [ngClass]="{'active':onProductNameFocus}">
                <ul class="drick-select-list">
                    <li *ngFor="let i of productsSandbox.productSearch$ | async"
                        (click)="selectProductName(i.productId, i.name)" class="product-list">
                        <img class="p-image" [src]="pImageThumborUrl + i.imageUrl">  {{i.name}}
                    </li>
                    <li *ngIf="(productsSandbox.productSearch$ | async)?.length  === 0">
                        Tidak ada hasil
                    </li>
                </ul>
            </div>

            <div class="wrapper--image" *ngIf="(productsSandbox.productSearch$ | async)?.length  === 0 || checkIfLength === true">
                <div class="wrapper--image__image">
                    <img src="/assets/img/asetnotfound.png">
                </div>
                <span class="wrapper--image__text">
                    seperti nya produk yang anda cari tidak ada di database kami silahkan ajukan produk anda
                </span>
                <div class="wrapper--image__btn">
                    <button class="btn wrapper--image__btn--btn-color" (click)="btnResi = !btnResi" >Disini</button>
                </div>
            </div>
        </div>
    </div>
</section>

<app-models [(visible)]="btnResi" class="frameDialog">
    <div class="wrapper--modal">
        <h4 class="wrapper--modal__h4">
            Ajukan produk yang anda inginkan disini
        </h4>
        <form [formGroup]="addProductForm" (ngSubmit)="addProduct()">
            <div class="form-group">
                <input  formControlName="brand"  type="text" class="form-control" placeholder="Merek Produk" [ngClass]="{
                    'has-danger': addProductForm.controls.brand.invalid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched),
                    'has-success': addProductForm.controls.brand.valid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched)
                    }">
                <div *ngIf="addProductForm.controls.brand.invalid && (addProductForm.controls.brand.dirty || addProductForm.controls.brand.touched)" class="alert alert-danger toll tooltip testing">
                    <span class="tooltiptext" *ngIf="addProductForm.controls.brand.errors.required">Merek Produk harus diisi</span>
                </div>
            </div>
            <div class="form-group">
                <input formControlName="productName" type="text" class="form-control" placeholder="Nama Produk" [ngClass]="{
                    'has-danger': addProductForm.controls.productName.invalid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched),
                    'has-success': addProductForm.controls.productName.valid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched)
                    }">
                <div *ngIf="addProductForm.controls.productName.invalid && (addProductForm.controls.productName.dirty || addProductForm.controls.productName.touched)" class="alert alert-danger toll tooltip testing">
                    <span class="tooltiptext" *ngIf="addProductForm.controls.productName.errors.required">Nama Produk harus diisi</span>
                </div>
            </div>
            <div class="form-group">
                <textarea formControlName="description" class="f-control" id="" cols="30" rows="10" placeholder="Deskripsi Produk" [ngClass]="{
                    'has-danger': addProductForm.controls.description.invalid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched),
                    'has-success': addProductForm.controls.description.valid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched)
                    }"></textarea>
                <div *ngIf="addProductForm.controls.description.invalid && (addProductForm.controls.description.dirty || addProductForm.controls.description.touched)" class="alert alert-danger toll tooltip testing">
                    <span class="tooltiptext" *ngIf="addProductForm.controls.description.errors.required">Deskripsi Produk harus diisi</span>
                </div>
            </div>
            <button type="submit" class="btn btn--orange" [disabled]="addProductForm.invalid">Tambah</button>
        </form>
    </div>
</app-models>